[2021-07-15 22:18] jaredwyee opened #67 "Statewide GA Tag"
we need to add this tag in addition to the drought-specific account in order to pull drought data into the U/X research hub.

Statewide code:
            //statewide GA property
                gtag('config', 'UA-3419582-2');

[2021-07-15 23:18] jaredwyee opened #69 "Social Media Tool Kit in Footer"
replace Governor's Newroom with "Social media sharing" using link https://saveourwater.com/en/Partner-Toolkit

[2021-07-15 23:20] jaredwyee opened #70 "Add Google Translate Widget"
Add widget in same pattern as cannabis (in CA site top header).

[2021-07-15 23:23] jaredwyee opened #71 "Add Search"
**What:**
Add Google Search functionality following design system pattern placement in upper right of page (see Cannabis), but styled consistent with Drought CSS and color scheme.

**Why:**
* Help users locate content as we start to flesh out what's on the drought site (more and more stuff!)
* Alternative ways to find information (accessibility angle as well)
* Design system consistency (Cannabis

[2021-07-15 23:25] jaredwyee opened #72 "Update Alt Image Text"
see Google Doc: [ Alt text image update
](https://docs.google.com/document/d/1BW4learI3IHyMTzAzFk9FOcysNmPtaKsfXZ7eMvT0Lc/edit). Update alt image text in WP/SEO metadata

[2021-07-15 23:34] jaredwyee opened #73 "Design an Image Caption component"
We plan to show various images in our content (hero, content page) that convey drought conditions at certain locations on a certain date. In order to be informative and accurate in what we present, we want to include an information caption. Presently our design system does not have a "caption" component.

Example pages where a caption might exist:
https://drought.ca.gov/
https://drought.ca.gov/sta

[2021-07-16 00:00] jaredwyee opened #76 "Reconcile "How you can help" and the Tips page"
Our main call to action is to view the water saving tips, which has been updated to emphasize outdoor reduction.

The **How you can help** page lists 3 example tips but they are not our top water saving tips. This is mainly due to drafting/expanding on the tips after the **how you can help** was drafted :).

Reconcile the content between the two for consistency. Over time we may expand the **How y

[2021-07-16 19:49] adam-little commented on #73
For content pages and articles (e.g. Announcements), we have a caption style [in Figma](https://www.figma.com/file/9FTGOPO5HlsLfYuNrtL9IM/Design-System-Projects?node-id=11%3A0).
![image](https://user-images.githubusercontent.com/69167298/126000976-b8f95aa9-4f5d-4e59-b19c-a520ad121387.png)

- Small text
- 8px spacing between image and caption

For homepage hero card, adding a caption will require s

[2021-07-19 17:37] adam-little commented on #73
@jaredwyee

Here is issue for general caption style: https://github.com/cagov/drought.ca.gov/issues/73

Here is issue for hero card caption: https://github.com/cagov/cannabis.ca.gov/issues/261

[2021-07-19 20:22] #73 closed

[2021-07-22 21:00] jaredwyee opened #85 "Add ethnio javascript to site"
we want to be able to do Ethnio intercept surveys to get feedback and potentially recruit visitors on drought.ca.gov. In order to do that we need the below JS added
[code]

https://help.ethn.io/hc/en-us/articles/200202455-Placing-Ethnio-Javascript-The-Details

[2021-07-22 21:08] jaredwyee commented on #85
@jbum  please pick up when you are able, thanks

[2021-07-22 21:12] jaredwyee commented on #67
@jbum  this was completed, correct?

[2021-07-23 22:33] jbum opened #86 "Transfer issues from Q/A Spreadsheet"
Copy genuine unfinished items from the Drought Q/A spreadsheet to this project board.  Spreadsheet is here: https://docs.google.com/spreadsheets/d/1sFu73FKCAXIKzQC8ewBNWx9WeAe-rl4NIrVLugRHfdE/edit#gid=0

[2021-07-23 22:59] jbum opened #87 "Styling issues (copied from Q/A spreadsheet)"
* Use same shade of gray as cannabis/figma design.
For horizontal rules (e.g. in the header) and borders (e.g. on cards), use #EDEDEF
For grey backgrounds (e.g. state banner, state footer, hero container) use #F9F9FA

* Add bottom border to "On this page" page index container
See https://github.com/cagov/cannabis.ca.gov/issues/223

* Add caption to homepage hero image
Jim: Visible caption? Hover c

[2021-07-23 23:02] jbum opened #88 "Add bottom border to "On this page" page index container"
From Q/A spreadsheet: See https://github.com/cagov/cannabis.ca.gov/issues/223

[2021-07-23 23:18] jbum commented on #86
Done.

[2021-07-23 23:18] #86 closed

[2021-07-23 23:59] jbum commented on #85
Just noticed this.  It'll probably take me a few days to adjusting to noticing these issues, since they only go to my email (unlike Jira). I get so much email from Github that I auto-archive it all. I'll have to work on refining my filters to surface these ones.

[2021-07-24 00:01] jbum commented on #85
Suggestion: use three back-ticks around code samples.

[2021-07-24 03:14] jbum commented on #85
Code has been added.  Keeping issue open. Next week I want to incorporate this into the Wordpress template.

[2021-07-26 16:41] jaredwyee commented on #85
Thanks! @clarita1980 FYI the ethnio code should be on the drought site now.

[2021-07-26 17:16] clarita1980 commented on #85
Yes, I tested on Friday.

[2021-07-27 17:29] jaredwyee opened #90 "Staging environment for Drought so that we can review changes safely before pushing to prod"

[2021-07-27 17:29] jaredwyee commented on #90
@jbum  @aaronhans  fyi created this

[2021-07-27 17:55] aaronhans commented on #90
Here are some assumptions we should review with the editorial team:

- Enabling proper WordPress preview so that clicking preview on any post or page will show a faithful rendering of the content exactly as it will appear in production is the top priority

This work is already underway. We plan to use the 11ty serverless plugin (https://www.11ty.dev/docs/plugins/serverless/). Carte is reviewing ho

[2021-07-28 01:01] jaredwyee commented on #90
@aaronhans Would we have a general pattern how this process works for WP editing -> Staging -> prod going fwd? So checking in with content folks is how we would do it generically: Drought, Project, X, Project Y, etc. Correct?

[2021-07-28 15:57] aaronhans commented on #90
Right now on the covid site editors can add a tag to a post like "staging" which will push that post only to that environment. We are going to verify with the editorial team but it seems like preserving this functionality is convenient because they won't have to deal with a separate WordPress environment. These capabilities should cover most editing workflows:
- Trust the preview link for immediat

[2021-07-28 16:21] jaredwyee commented on #90
Sounds great, thanks for expounding further.

[2021-07-29 19:40] jbum commented on #67
Yes. marking this done.

[2021-07-30 16:15] jaredwyee opened #92 "Update Drought Conditions Map 7/29/21"
There is a noticeable visual change in the level of extreme drought in CA. Update the map from https://droughtmonitor.unl.edu/

[2021-07-30 18:20] jbum commented on #92
Map updated.

[2021-07-30 19:16] jaredwyee commented on #92
Thanks for updating

[2021-07-30 19:47] jaredwyee opened #93 "Add capability for dropdown links for page navigation"
Similar to the cannabis.ca.gov site we're going to have expanding content needs that will mean more pages that need to be grouped under global nav headers.

Please add the ability for dropdown menus on the drought site.

If it does not already exist it would be good to document or point to how the content team can add pages as needed (if that's feasible).

[2021-07-30 19:49] jaredwyee commented on #93
@thepegisin  fyi

[2021-08-02 21:54] adam-little opened #95 "Fix layout of h1 on pages with left sidebar"
The position of the h1 on pages that have a left sidebar is not correct. See examples below:

![image](https://user-images.githubusercontent.com/69167298/127928578-d8288bcf-5996-4425-8c20-1950ce5abc71.png)
![image](https://user-images.githubusercontent.com/69167298/127928600-14d7141e-9818-4b8d-8d11-ce0478ec661f.png)

H1 should be positioned above main content. See  example below:
![image](https://

[2021-08-02 22:00] adam-little opened #96 "Fix design of drought map"
Currently, the grey border only surrounds the map graphic.

The desired design is for the grey border to surround entire visualization, including the key.

The container that the grey border surrounds should fill the entire column width.

Desired design in [Figma](https://www.figma.com/file/9FTGOPO5HlsLfYuNrtL9IM/Design-System-Projects?node-id=2872%3A9768):
![image](https://user-images.githubuserc

[2021-08-03 20:43] #67 closed

[2021-08-03 20:43] #92 closed

[2021-08-03 20:44] jaredwyee commented on #92
Marking Closed.

[2021-08-03 20:44] jaredwyee commented on #67
Marking closed.

[2021-08-04 16:28] jaredwyee commented on #96
Thanks Adam. Assigning to Jim as workable but not urgent.

[2021-08-04 16:29] jaredwyee commented on #95
Thanks Adam. Assigned to Jim as workable not urgent.

[2021-08-12 18:09] jbum commented on #90
Is there remaining work to be done on this ticket?  @jaredwyee

[2021-08-12 18:13] aaronhans commented on #90
Environments for drought are up and respecting staging tags on posts or pages: https://staging.drought.ca.gov/

[2021-08-12 18:16] jbum commented on #85
Closing for now. Ethnio was removed a couple weeks ago by Aaron with Jared/Clara's permission.

[2021-08-12 18:16] #85 closed

[2021-08-12 18:31] jaredwyee commented on #90
Noticed this discrepancy between prod and staging, where the Actions and News should be side by side. Is this something that needs to be fixed in code or somehow in WP/content post?

![image](https://user-images.githubusercontent.com/85529382/129249735-d14bd1df-8d28-48b0-9c72-0ee0abaadefa.png)
![image](https://user-images.githubusercontent.com/85529382/129249767-846db9ba-831c-4cc4-8fdd-402acd95fe8

[2021-08-12 18:44] jbum commented on #95
@adam-little when you get a moment, could you do a mock up of how you want it to look with one of these large hero images?  If I do a straight-forward adoption of your suggestion, it's looking a little odd.  Not sure if you want the baselines or the top-lines to line up for the smaller/larger titles at the top...

![image](https://user-images.githubusercontent.com/287977/129251280-bc8469e0-ec93-46

[2021-08-12 18:48] jbum commented on #87
Closing these. Most of them done.  Let's add specific tickets for important ones that remain.

[2021-08-12 18:48] #87 closed

[2021-08-12 19:08] aaronhans commented on #90
Weird, there is some incorrect CSS in staging that is not present in production.

I need to create several tickets for drought to start inheriting all the CSS from the newly available design system modules. When I do this I will make sure the staging and main branches are in synch and this bug does not occur anywhere

[2021-08-12 21:31] adam-little commented on #95
This is what we have in[ Figma](https://www.figma.com/file/9FTGOPO5HlsLfYuNrtL9IM/Design-System-Projects?node-id=2820%3A10023). The hero image appears below the H1.

Part of the reason we want to keep the left sidebar separate from the page content is so that the left-side navigation can become sticky [that will be another issue for another day]

![image](https://user-images.githubusercontent.com/

[2021-08-12 21:32] adam-little commented on #96
Thanks @jbum !

[2021-08-16 16:38] thepegisin opened #97 "Add new content to Newsroom page"
As requested by Heather Williams on 8/15/21, add new news items and contact info to Newsroom page.

Request: https://docs.google.com/document/d/14QYf85S3reTd0ScnPtNONxlyxLLgxaUf/edit

Draft: https://docs.google.com/document/d/194DtDKJIMmpXC94h8NXm3KESaJKaKnWbfULRDraOHQg/edit#

[2021-08-16 16:42] thepegisin commented on #97
Drafting.

[2021-08-17 01:46] thepegisin commented on #97
Staged. https://staging.drought.ca.gov/newsroom/

In the process, worked with Carter to create workaround for staging process, and worked with Chach to add a left menu (page index) to **Newsroom** page.

Emailed stakeholders for review.

[2021-08-17 02:13] thepegisin commented on #97
Published **Newsroom** page, but still need to update news items on homepage. Will find out how with Chach.

[2021-08-17 17:38] adam-little commented on #95
Here are examples of the correct layout on Cannabis:

- With sidebar: https://cannabis.ca.gov/licensees/cultivation/
- With no sidebar: https://cannabis.ca.gov/about-us/announcements/

[2021-08-17 19:12] chachasikes commented on #95
Notes
(and also I might be picking this up for Jim)

* We have page templates, or layouts.
* The layouts include two titles, mobile & desktop, which have different locations in the markup (and which also had to work with the CAWeb theme for WordPress (which has some overhead)
* We can make sure the correct template is used on the page (I assume it is, but let's double check)
* We can make sure tha

[2021-08-18 16:21] thepegisin commented on #97
Learned the mystical ways and updated homepage news items 8/17.

[2021-08-18 16:21] #97 closed

[2021-08-18 20:29] aaronhans opened #98 "drought: use all components in design system"
The drought site still has many components whose code is hardcoded in the repo

We recently went through this exercise with headless cannabis where we deleted all the hardcoded components, installed and used the versions from the design system.

When we added all of these components to the design system we reviewed all the code in both drought and cannabis and made sure all updates were included s

[2021-08-20 17:27] jaredwyee commented on #96
Marking closed and moving to done

[2021-08-20 17:27] #96 closed

[2021-08-30 22:15] jbum commented on #95
Assigning to Chach as I believe she has already done some work on this.

[2021-08-30 22:18] jbum commented on #90
Closing this, since the staging has been created. New tickets should be created for discrepencies.

[2021-08-30 22:18] #90 closed

[2021-08-30 23:40] thepegisin opened #99 "Update Resources page with 3 new links"
Request via email from Shawn Brouwer 8/30/21.

Links added to draft, staged, reviewed, and published 4PM 8/30. Stakeholders notified via email reply.

[2021-08-30 23:41] #99 closed

[2021-09-09 15:25] jaredwyee commented on #93
@thepegisin  were you able to test if you can do this without engineering involvement based on Chach's pointers? If not, please test when you can and let's circleback with getting engineering help if needed. Jon may be able to start helping out for Drought.

[2021-09-09 21:01] aaronhans commented on #98
Thanks for starting on this work @xjensen!

Feel free to rescope this ticket to whatever size you feel is reasonable, we can create follow up tickets to finish this work

[2021-09-09 23:30] jaredwyee commented on #71
@xjensen can you start looking into this into next week? Happy to hammer our more implementation specifics as followup, but would be great if you could do an initial pass with Jim/Chach to start. Thanks!

[2021-09-13 16:13] xjensen commented on #71
@jaredwyee, yes, can do. I'll start familiarizing myself with the challenge.

[2021-09-13 18:15] xjensen commented on #98
I hit a snag when implementing the ds-branding component. See cagov/design-system#115. Stay tuned.

[2021-09-13 22:26] adam-little opened #100 "Update color values for each color variable on drought.ca.gov"
After we have uniformly applied the color variables to all design system components, we need to update the color values for Drought to use the new colors.

Drought color values can be found here: https://www.figma.com/file/3N4dFWhFqiGpWr1DRQoJUM/Design-system-colors?node-id=15%3A1711

This is related to the following Design System issue: [Ensure that all color variables match Figma #117](https://g

[2021-09-13 23:09] jaredwyee opened #101 "Adding News items in a publisher/stakeholder friendly way"
**What:**
Enable Drought stakeholders to post news items on the Drought homepage (https://drought.ca.gov/) and Newsroom (https://drought.ca.gov/newsroom/) in a user friendly manner that lay persons can use.

* No HTML or HTML copy/paste
* Add / update "post" in Wordpress and then the news items shows automatically on the homepage and /newsroom pages. Or
* (Ideally) functionally preview to ensure c

[2021-09-14 01:05] thepegisin commented on #93
Where are Chach's pointers? Don't see them.

[2021-09-14 16:36] xjensen commented on #98
We're now also pending the following design-system requests.

cagov/design-system#119
cagov/design-system#120
cagov/design-system#121

[2021-09-14 16:37] aaronhans opened #102 "review homepage news update flow"
There is an opportunity to remove the need for editorial to have to edit a custom HTML block when adding a new news item to the site which they want to show up on the homepage.

We can dynamically create this snippet of HTML in 11ty using the existing news items which have been saved to the git repo by the publishing process

We did this on headless cannabis already

[2021-09-14 16:49] jaredwyee commented on #101
@thepegisin anything to add?

[2021-09-14 17:49] abquirarte commented on #71
cc @adam-little in case there is design work here we want to consider.

[2021-09-14 20:06] jaredwyee commented on #93
Slacked you. If it's a no-go we'll discuss with the engineering team at Thursday planning session

[2021-09-14 21:22] adam-little commented on #71
No additional design changes at this point. Just match Cannabis (except use Drought color).

[2021-09-14 21:30] kkoryaka commented on #100
@adam-little I have updated those variables in staging. Please review: https://staging.drought.ca.gov/

[2021-09-14 23:11] abquirarte opened #104 "Translation - take Design System lens"

[2021-09-15 00:16] abquirarte opened #105 "Add timestamp/date stamp to the site and pages"
COVID19 set the best practice of adding a time stamp to the pages to inform users of when content has been updated/refreshed. This element is not yet on the drought site and stakeholder have expressed confusion as to whether the site is up to date.

Ask- determine best path to include date stamp "last updated" to the drought site (as part of design system).

[2021-09-15 21:56] thepegisin opened #106 "Create and publish Tribal page"
Per stakeholder request, add a Tribal page to this website and add it to the top menu.

[2021-09-15 21:57] thepegisin commented on #106
Initial copy received from Heather Williams 9/13/21.

[2021-09-15 21:58] thepegisin commented on #106
Edited for readability and staged 9/14/21.

Draft: https://docs.google.com/document/d/1EwxnpdnbYX9j-5OIUQUPZAd7SJRpqZfflIK9fluu-9Y/edit
Staging: https://staging.drought.ca.gov/tribal-lands/

[2021-09-15 21:59] thepegisin commented on #106
Stakeholders are reviewing with other interested parties.

[2021-09-15 22:01] thepegisin opened #107 "Refresh hero photo on homepage"
Per request by Shawn Brouwer, replace the homepage hero photo with an updated one. Drought conditions are changing rapidly and our photo should be recent.

[2021-09-15 22:12] thepegisin commented on #107
Got list of candidate photos from Shawn. Pasted the links to them in the homepage current draft in case we need to rotate.

[2021-09-15 22:13] thepegisin commented on #107
Replaced image and published to PROD. (Meant to publish to STAGE, but it went all the way up.) Jared notified stakeholders that it's there.

[2021-09-15 22:13] thepegisin commented on #107
Image is broken on STAGE, so leaving this ticket open until fixed. Also hearing that I don't have the right method for updating images. Need to find out the right way.

[2021-09-15 22:42] jaredwyee commented on #105
https://github.com/orgs/cagov/projects/7#card-68856070

[2021-09-16 17:57] jaredwyee commented on #93
* take stock if/how we can support nested menu capabilities now. even if it requires technical help that's OK just need to know that
* eventual goal is that stakeholders can do this themselves without ODI engineering help

[2021-09-16 18:01] chachasikes opened #108 "Add headless development environment that maps to dev pantheon instance."

[2021-09-16 21:28] jaredwyee commented on #93
@chachasikes please help Peggy with showing how to accomplish (or determine what engineering work needs to be done to achieve). Thanks!

[2021-09-16 21:29] jaredwyee commented on #102
https://github.com/cagov/drought.ca.gov/issues/101

[2021-09-16 21:31] jaredwyee commented on #101
@xjensen please work with @chachasikes team to determine how we might approach this for Drought, being mindful of global publishing approach

[2021-09-18 20:57] jbum opened #109 "Automate drought-map generation for Thursday."
Every Thursday (well, most every Thursday), Jim runs a python script which downloads the latest US drought map image, crops it against a mask and resizes it. The image is added to the repo, and the drought map display markup is modified to show the current date, and to load the correct image.

The script and mask are attached.

I'm pretty sure this could be automated, perhaps as an Azure Timer Tas

[2021-09-21 18:54] abquirarte opened #111 "Drought Content intake and prioritization"
Content [saved here](https://drive.google.com/drive/u/0/folders/1Gwtum7853Ca3rWhb7MSANMJTYRnlFAMe)

- [ ] 1. Tribal lands page edits
- [x] 2. Weekly drought update
- [x] 3. Drought assistance update, including:
      a. SWEEP (California Farmers and Ranchers)
      b. Small Community Grants (already on site in drought assistance)
      c. Urban Multi-benefit Drought program (audience: water system

[2021-09-21 19:26] abquirarte commented on #105
Tagging @chachasikes and @kkoryaka for a consult given the overlap with design system.
cc @xjensen

[2021-09-22 00:27] thepegisin commented on #111
Updated staged Tribal page per Heather's email: https://staging.drought.ca.gov/tribal-lands/.

Known issues:
- They need a group email address for tribal drought declarations
- I need to know how to upload a PDF so I can add links to several declarations Heather sent

[2021-09-22 00:28] thepegisin commented on #111
Weekly drought updated PDF staging is also waiting for this PDF upload knowledge.

[2021-09-22 00:29] thepegisin commented on #106
Got edits from Heather - staged: https://staging.drought.ca.gov/tribal-lands/.

Known issues:
- Needs email for declarations
- Need PDF upload method

cc: @abquirarte

[2021-09-22 16:27] #107 closed

[2021-09-22 19:03] thepegisin commented on #111
New content received with 15 more agency programs to add. Updated proposal to accomodate: https://docs.google.com/document/d/1dXhlEOyJ-jGgNeCe4DLdRTm5sWudxHVzILjDYqctfh0/edit#. Working on v2 draft.

[2021-09-22 23:19] thepegisin opened #113 "Add 9/22 news item to homepage and Newsroom page"
Requested by Shawn Brouwer via email, Angie copied.

[2021-09-22 23:20] thepegisin commented on #113
Drafts:
- https://docs.google.com/document/d/1q3TjjKsTuZsEfwWEysyFJWj1y9DGGzZGeZdS8ESP_9M/edit

- https://docs.google.com/document/d/194DtDKJIMmpXC94h8NXm3KESaJKaKnWbfULRDraOHQg/edit

Published 9/22/21 at 4:15 PM.

[2021-09-22 23:21] #113 closed

[2021-09-22 23:25] #71 closed

[2021-09-22 23:31] thepegisin opened #114 "Remove outdated links from Drought assistance page"
The **If you need water, More help for households,**  and **Steps for community water systems** sections all rely on a link to a list of county OES offices for their content. That link now no longer takes them to that list. Can't seem to find where that went, so removing these sections for now. Draft to preserved text of these sections is here: https://docs.google.com/document/d/1Hh9_HS28PnNvMIwp5

[2021-09-22 23:35] thepegisin commented on #114
Draft with edits: https://docs.google.com/document/d/1gsHxRVrfvJINlWjFibAEcwf8fPzEocoZrXvKdQcI0ts/edit#

[2021-09-22 23:41] xjensen opened #115 "Search button gets pinched on mobile"
On mobile, at narrow-but-still-common screen sizes, the search button gets squished in the header. This results in the icon getting pushed up above the "Search" label. See screenshot.

<img width="414" alt="Screen Shot 2021-09-22 at 15 57 58" src="https://user-images.githubusercontent.com/1208960/134435889-dad584e8-de8b-473c-99d0-dedf7547ed75.png">

@adam-little, what's your opinion on best way to

[2021-09-22 23:49] thepegisin commented on #114
Staged, checked, published, and stakeholders notified.

[2021-09-22 23:49] #114 closed

[2021-09-22 23:52] #109 closed

[2021-09-23 00:24] thepegisin commented on #111
Draft of _Drought assistance v2_: https://docs.google.com/document/d/1dXhlEOyJ-jGgNeCe4DLdRTm5sWudxHVzILjDYqctfh0/edit#

[2021-09-23 21:06] thepegisin commented on #111
Draft of _Current drought conditions_ with California Drought Update PDF link added: https://docs.google.com/document/d/1uCwMp7zslvoyDtiJ7mdNK2M_B2bjM0spqim0FyaoziM/edit

Also draft of Update PDF archive: https://docs.google.com/document/d/1kIRIZGLqFHZpaoz1_iZEYC0PeUA7plesyadX3kqXJI0/edit

[2021-09-23 21:09] thepegisin opened #117 "Additions to State actions (homepage and state response page)"
Add [July 22](http://cert1.mail-west.com/c7rmzEyjmR/anm/mu81zEgtmyuzj/oqn8f6cku/E7n/n0v81zEqvnqz/nq11798/5w7niq?_c=d%7Cze7pzanwmhlzgt%7C18i0a89711da7j5&_ce=1632350461.5d73854a48ce11d329910af4b0095368) and [Sept 23](http://cert1.mail-west.com/c7rmtVyjgI/gtmyuzjanm/81tV/uecijakxaspa/tVe/qvnq/qypa81tV/ecsanw2y9lxb?_c=d%7Cze7pzanwmhlzgt%7C18ncld9l2janfpr&_ce=1632423897.5b7a1acb813aa1665c7563f59c6e84f6

[2021-09-23 22:24] abquirarte commented on #106
The email is still blocked. Let me send an email.

[2021-09-23 23:40] thepegisin commented on #106
Updated email address on page and re-staged.

[2021-09-24 00:18] thepegisin commented on #117
Drafts ready for @abquirarte's review.

- Homepage (_State actions against drought_): https://docs.google.com/document/d/1q3TjjKsTuZsEfwWEysyFJWj1y9DGGzZGeZdS8ESP_9M/edit#heading=h.hje7vbg7x4a4
- State drought response (_New actions_): https://docs.google.com/document/d/1cp7ujkAzTFpX1_Depm8Fcfrj3ruMItLqt4T39uoRKhg/edit#

[2021-09-24 00:26] abquirarte commented on #106
thank you! we can send for final review then publish @thepegisin

[2021-09-24 00:30] abquirarte commented on #117
@thepegisin looks great. I approve the content. Good to stage. People to inform of this will be:

- Heather
- Erin
- Lisa (I'll send you the emails separately)

[2021-09-24 00:40] thepegisin commented on #106
Are you sending, or am I sending, @abquirarte? And if I'm sending, who to?

In the meantime, here's my recommendation for incorporating _Tribal lands_ into the nav without adding another menu item: https://docs.google.com/document/d/1lEm30Siya4DiZ9zma6IcDTXjPiQKUdO_4sktWWbnLMM/edit#

[2021-09-24 00:46] abquirarte commented on #106
Go ahead and send to your usual people- original requesters (Heather/Shawn). @thepegisin

Nav edits approved too! 🙌🏼

[2021-09-24 18:42] thepegisin commented on #117
Staged, and all 3 stakeholders were emailed. Note that homepage changes went to PROD.

[2021-09-24 20:48] thepegisin opened #118 "Add 9/22 & 9/23 news items to homepage and Newsroom"
Shawn Brouwer emailed request to add 9/22 and 9/23 news items to homepage and **Newsroom** page.

[2021-09-24 23:25] thepegisin commented on #118
Drafted, staged, and published, and notified Shawn Brouwer.

[2021-09-24 23:25] #118 closed

[2021-09-25 00:19] thepegisin opened #119 "Change the social share image for Drought"
When you share the link to a Drought page in Slack or on social media, it shares a hero image. But this image isn't the current hero image on the homepage, it's the last one.

We need:

- The social share image to be the current one (https://drought.ca.gov/media/2021/09/drought-photo.png)
- The ability to update this social share image when we update the hero image, or for it to automagically use

[2021-09-25 00:28] thepegisin opened #120 "Numbered lists don't align well with paragraph text"
Numbered (ordered) lists in body copy on Drought site pages are not aligning with paragraphs, but start a little to the left of them.

We had an example of this on the _Drought assistance_ page, but that list got deleted. You'll have to create an example on a sample page to see it.

This is not urgent, but should be fixed before we need another numbered list.

[2021-09-25 00:32] thepegisin opened #121 "Text under buttons on Drought site comes too close"
In page body copy, if you insert a standard button (like the _Start saving water_ one on the homepage), there is not enough spacing between it and the text that follows it. Feels crowded.

We had an example of this in the _Drought assistance_ page, but it got removed as the link that button went to disappeared. You'll have to recreate it elsewhere to see it.

This is not urgent, but should be fixe

[2021-09-25 00:38] thepegisin opened #122 "Pages are missing left menus"
When you make a page in the Drought site and give it one or more H2s, that's supposed to automatically make a "page index" or left menu with anchor links, with the page title positioned above it.

For some reason, this is not happening on these pages:

- [Resources](https://drought.ca.gov/resources/)
- [Current drought conditions](https://drought.ca.gov/current-drought-conditions/)

The page title

[2021-09-27 17:26] xjensen commented on #115
One thing to add here. To get our ds-branding design system component to work across Cannabis and Drought, I changed the display of these icons on mobile at narrow screen sizes. This affects the way the icons display on Cannabis. For example.

On Cannabis now:
<img width="352" alt="Screen Shot 2021-09-27 at 10 22 18" src="https://user-images.githubusercontent.com/1208960/134956301-af5318c8-98d6-45

[2021-09-28 02:55] xjensen commented on #115
We're fixing this in cagov/design-system#141.

[2021-09-28 17:55] adam-little commented on #115
It looks like you found a fix but let me know if you want me to review
anything. I'm just catching up after being offline for the last week.

On Mon, Sep 27, 2021 at 10:55 PM Jon Jensen ***@***.***>
wrote:

[2021-09-28 18:31] thepegisin commented on #111
Staged changes to _Current drought conditions_ and staged new archive page:
- https://staging.drought.ca.gov/current-drought-conditions/
- https://staging.drought.ca.gov/ca-drought-update-archive/

[2021-09-28 20:11] thepegisin commented on #111
Angie approved to publish. Archive page went up fine, but _Current drought conditions_ did not publish. Getting dev help from @xjensen .

[2021-09-28 21:33] adam-little commented on #100
Can you make the following changes:

- Per page feedback container should be Primary **Dark**
- The search bar border and search button should be **Primary**
- The button block buttons should have a border of **Gray 300**
- The borders underneath the "On this page" links should be **Gray 300**

Thanks for your help on this.

[2021-09-29 00:42] thepegisin commented on #122
@xjensen correctly determined that this was due to these WP pages having the wrong template. Changed Template to "Default template" and published, now left menus appear!

[2021-09-29 00:42] #122 closed

[2021-09-29 00:48] thepegisin commented on #117
Approved and published 9/24.

[2021-09-29 00:48] #117 closed

[2021-09-29 16:24] thepegisin commented on #111
_Weekly drought update_ and _Current drought conditions_ pages are now both published. Need to add _Weekly update_ to nav, but that's not working. @xjensen is working on it.

[2021-09-29 16:30] thepegisin opened #125 "Track homepage link clicks in analytics"
We'd like tracking added to homepage links, and results to appear in this report: https://datastudio.google.com/u/0/reporting/50c97641-777f-4f3b-a1d2-62208f294a62/page/jailB

[2021-09-29 19:36] xjensen commented on #115
@adam-little, yes, the original problem here was fixed. I don't know that we still have a problem, but maybe something for your general awareness.

When the screen is mobile but still wide enough, the mobile icons ("Search" and "Menu") will appear inline. This is the same as on Cannabis.

<img width="615" alt="Screen Shot 2021-09-29 at 12 31 44" src="https://user-images.githubusercontent.com/12089

[2021-09-29 19:38] #115 closed

[2021-09-29 21:21] thepegisin opened #126 "Drought nav does not update when edited in WP admin"
@chachasikes showed me how to update the navigation menu in the WP admin (Appearance > Menus). But while the changes I made appear to be saved in WP, they don't appear on the website. This is affecting our ability to link in a new page to the nav.

See Slack thread on this: https://cadotgov.slack.com/archives/C026VJB8Q1G/p1632877211125600

[2021-09-29 21:26] thepegisin opened #127 "Changes to the homepage do not stage as expected"
When staging changes to the homepage, the content publishes all the way up to production. This is hampering our ability to have stakeholders preview a change before it's published.

See Slack thread when this last happened: https://cadotgov.slack.com/archives/C02F10G3L94/p1632507531002300

[2021-09-29 21:31] thepegisin opened #128 "Changes published to production don't always make it there"

[2021-09-29 21:40] xjensen commented on #128
@jbum has volunteered to test Carter's recent fix to ensure content updates to Prod are working as expected.

[2021-09-29 21:57] thepegisin opened #130 "Publishing method to stage is tricky and error-prone"

[2021-09-29 22:22] jbum commented on #125
I *believe* I've added tracking to all the home-page links (or all the <a> tags at any rate).

@traintestbritt  If there is a link that is not being tracked, please let me know!  It would help if I could access the GA account so I can confirm, since page-to-page navigation tracking is difficult to debug with  Google Analytics Debugger.

[2021-09-29 22:25] wrendo commented on #127
Carter has been working on a preview function and Chach has been working on consolidating the functionality into the publishing engineering pipeline. I believe she's working on UI elements for this.

[2021-09-29 22:26] jbum commented on #128
@thepegisin When you were experiencing this, how often did it occur? 1/3? 1/10?

[2021-09-29 22:35] jbum opened #131 "Provide better feedback to Slack when publishing occurs via Wordpress."

[2021-09-29 22:36] jbum commented on #127
Jim to test if the staging tag is working as expected.

[2021-09-29 22:45] jbum commented on #131
This is not particularly informative.  Who did the update?  Which stub was edited?

![image](https://user-images.githubusercontent.com/287977/135358629-f82b73c8-1698-4973-b644-b2cd162b712d.png)

[2021-09-29 22:53] jbum commented on #128
I did a series of changes.  The first four went thru fine.

The **fifth one did not**. I can see from the Slack log, and the Posts table, that Peggy submitted an update around the same time.  I suspect there is an issue with competing updates.
![image](https://user-images.githubusercontent.com/287977/135359314-f73d2119-ee1a-40e2-832f-a84a418b5215.png)
![image](https://user-images.githubusercontent

[2021-09-29 22:57] xjensen commented on #120
Possible fix in cagov/design-system#146.

[2021-09-29 22:57] xjensen commented on #121
Possible fix in cagov/design-system#146.

[2021-09-30 00:00] #120 closed

[2021-09-30 00:00] #121 closed

[2021-09-30 00:10] jbum commented on #128
Normal sequence looks like this:

![image](https://user-images.githubusercontent.com/287977/135365056-962c65f0-fefd-4c8c-9ee7-ceac2c1bc303.png)

In the failed one, there was no Status: completed, but three commits.

[2021-09-30 00:11] thepegisin commented on #111
Updated _Drought assistance_ is now staged: https://staging.drought.ca.gov/drought-assistance/

[2021-09-30 00:12] thepegisin commented on #111
Nav issues are fixed, new nav is up, and link to _Weekly update_ is on it.

[2021-09-30 00:16] thepegisin commented on #111
STATUS ROUND-UP:

1. _Tribal lands_ is staged and holding per Heather Williams.
2. _Weekly update_ is published and available from nav. Has latest PDF.
3-5. _Drought assistance_ v2 with multiple programs added is staged and awaiting feedback/approval.

[2021-09-30 00:17] jbum commented on #128
**staging-only** is the correct tag to use for staging (and not **staging**) at the moment (@carterm we need to support both tags). When staging-only is used, it works as expected, (and produces no messages to slack).

[2021-09-30 00:21] jbum commented on #127
I believe the problem is the use of the **staging** tag.  The correct tag (at the moment) is **staging-only**.  "staging" is ignored, and treated as a production update.

[2021-09-30 00:23] jbum commented on #130
I believe the correct tag is **staging-only.**.  **staging**, which has been used several times, is ignored.

[2021-09-30 00:25] carterm commented on #130
The tag name would be in the Wordpress endpoint config in the project.

[2021-09-30 00:26] carterm commented on #130
Just "staging"

       "tags_exclude": [
          "staging",
          "development"
        ]

[2021-09-30 17:48] jbum commented on #130
Doing further tests.  Confirmed 'staging' works.  Wondering if when I alternated staging -> staging-only, the first update failed, and the second update caused the first to finally go thru. I'm using coin-flips now to alternate between the two tags...

[2021-09-30 17:54] carterm commented on #130
There is a delay between performing an update, and when the correct tags are displayed in the API.  Could explain it.

[2021-09-30 18:01] britt-allen commented on #125
Hey @thepegisin can you list which links are not currently being tracked? Per @jbum's note I thought all links were being tracked too and the current implementation was dynamic meaning any new link would be auto-tracked. That said, I have no idea what links are not tracked.

[2021-09-30 18:07] britt-allen commented on #125
I am so sorry I didn't read this carefully, I thought this was covid and not drought. Please ignore my comment above @thepegisin . @jbum I'll send an email to get you added to the drought GA view and in the meantime i'll dev an analytics plan to capture this data, it'll likely mimic what we're doing for covid

[2021-09-30 18:23] jbum commented on #130
For sure. In further tests I found that switching from not having the 'staging' tag to having it sometimes caused an errant production publish the first time.  Subsequently it works. Definitely sounds like related to that delay.

[2021-09-30 18:25] jbum commented on #130
Possible work-around (which Peggy may be already doing) is to add the staging tag without doing any other updates (except maybe adding some whitespace), and then do an update. This will possibly go to production, but is harmless. Definitely a bogus workaround to have to do, however.  I'm wondering what we can do to fix this.

[2021-09-30 20:22] jbum commented on #125
I have been added (thanks @britt-allen ) and was able to do a little testing.

I have confirmed that the following things are being tracked:
* Clicks on PDFs. (pdf)
* Clicks on links that go offsite (offsite)
* Clicks on accordions (accordion)
![image](https://user-images.githubusercontent.com/287977/135524713-f423862e-794d-4203-9dfa-58561abb278c.png)

Currently, we are not tracking clicks on othe

[2021-09-30 20:46] xjensen commented on #119
@thepegisin It's currently possible to configure these social share images within Wordpress. At the bottom of the Wordpress editor, below the content, you'll find the following panel. The highlighted areas control the social share image.

<img width="1670" alt="Screen Shot 2021-09-30 at 13 40 44 1" src="https://user-images.githubusercontent.com/1208960/135527432-84bbbb8d-e201-484b-9d25-13dec777372

[2021-09-30 20:55] britt-allen commented on #125
Thanks for confirming Jim. I don't think we need additional tracking. I
think the last piece is for me to surface these analytics on the dashboard
like Peggy requested. I'll aim to have those live by mid week next week!

Best,

Brittany Allen (she/her)
Data Strategist, Insights | CA Office of Digital Innovation
916-270-4718 | ***@***.***
Follow us: web <https://digital.ca.gov/> | blog <https://new

[2021-09-30 21:32] jbum commented on #130
Testing 15 second delay...

[2021-09-30 21:53] thepegisin opened #132 "Pages don't have breadcrumbs"
In looking at the site with Adam today, we both noticed that there are no breadcrumbs at the top of pages. Navigational breadcrumbs are part of our CA Web Design System, as seen here on Cannabis:
![breadcrumbs](https://user-images.githubusercontent.com/63249920/135535459-a79b4213-ddc8-4efc-91e0-4becb2248d27.png)

[2021-09-30 22:07] aaronhans commented on #132
We have some breadcrumbs in the headless cannabis templates, not the best way to do it but works for a v1 https://github.com/cagov/cannabis.ca.gov/blob/bd116012530d1ff9f478a3661e2f676fcf2024fb/pages/_includes/layouts/templates/page.njk#L8

Haven't figured out the best way to share templates between projects but the 11ty page templates would ideally be the same and reused...

[2021-09-30 22:08] chachasikes commented on #132
Cannabis has breadcrumbs only because Wordpress was generating them and sending data to the API.

* That API data might not be available but it if it's there it should be labelled breadcrumb
* This isn't the solution we loved, and it can be improved.
* We were planning to use the menu api. Maybe we still can.
* The first two items are hard coded & should become configuration settings.

To think ab

[2021-09-30 22:17] thepegisin commented on #111
9/30 ROUND-UP:

1. I let stakeholders know that _Weekly update_ is published, and outlined its accessibility problems.
2. _Drought assistance_ was mistakenly pushed to PROD by Jon. He's rolling it back even as we speak.
3. _Tribal lands_ is staged and not yet approved.

[2021-09-30 22:33] jbum commented on #130
After inserting a 15 second delay at a crucial spot, I'm not seeing any issues with this. Previously 3 out of 8 tests did not sync correctly. Now 8/8 tests worked.

[2021-09-30 22:43] xjensen commented on #93
Update here. We've updated the Design System menu component for Drought's needs per cagov/design-system#140. Next step is to implement this new version of the design-system menu component here in Drought.

[2021-09-30 23:01] jbum commented on #127
It's possible today's fixes alleviated this.  Testing...

[2021-09-30 23:29] jbum commented on #127
Staging publishing of homepage is working in my tests.

[2021-09-30 23:31] jbum commented on #131
Carter did some improvements to this today.  Notifications are published to #wordpress-sync-http-trigger for curious developers.

[2021-09-30 23:32] #131 closed

[2021-10-01 16:31] jbum commented on #130
Removing p0 tag, since this is behaving better.

[2021-10-01 16:31] jbum commented on #127
Removing p0 tag since I believe this is performing better now.

[2021-10-01 17:43] abquirarte commented on #130
From 10/1/2021 call:

- [ ] Test solution
- [ ] Sync again on longer term solution- is tagging the best path?

[2021-10-01 17:56] abquirarte commented on #128
@carterm tagging you in.

- Can we have more than one content owner publish at the same time/within the same timeframe?

[2021-10-01 18:04] abquirarte commented on #127
@jbum tagging you on this. How is it better? Can you summarize here? :)
I think we've never been able to stage anything on the homepage.

cc @thepegisin you can expand here.

[2021-10-01 18:05] carterm commented on #128
Turned on polling updates.  No longer relying on triggers alone.  Site should be synced every 2 minutes now, so multiple updates on the same site should eventually be syncronized.  Added wordpress-sync-http-trigger channel for later troubleshooting.

[2021-10-01 18:06] carterm commented on #128
https://github.com/cagov/wordpress-to-github/commit/c1c256e177d6b7c61ca9c590d2946deabb9ee0fe#diff-14148baa1f7962c9e916055bdcf7bd8b0243c32b00a235b2d9cafbdc61824a58

[2021-10-01 18:12] aaronhans commented on #126
Drought frontend build is pulling menu structure here https://github.com/cagov/drought.ca.gov/blob/main/src/templates/_data/menus.js#L4

[2021-10-01 18:15] abquirarte commented on #126
Per Carter: https://github.com/cagov/drought.ca.gov/blob/main/src/templates/_data/menus.js
Need new issue on this

[2021-10-01 18:15] jbum commented on #128
Tested simultanous updates several times today, no issues. Removing the p0.

[2021-10-01 18:19] carterm commented on #126
Issue added...
https://github.com/cagov/wordpress-to-github/issues/50

[2021-10-01 18:34] thepegisin commented on #119
Re-opening this so I can remember to update the social share image in all pages but _Drought assistance_.

[2021-10-01 19:49] jbum commented on #126
Slack thread --> https://cadotgov.slack.com/archives/C026VJB8Q1G/p1633117513186300

[2021-10-01 20:07] thepegisin commented on #119
Updated social share image to current hero on pages that don't have their own image:

- Homepage
- Current drought conditions
- Newsroom
- Resources
- Tribal lands (to Staging only)
- Urban/Multibenefit Program (to Staging only)
- Weekly drought update

Tested via share on Slack, and correct image now appears.

[2021-10-01 20:07] #119 closed

[2021-10-01 20:33] jbum commented on #105
@chachasikes, @kkoryaka -- any developments on this front?  I see that Cannabis also is not showing update dates...

[2021-10-01 20:57] jbum commented on #69
@thepegisin - I believe this can be edited by editing the content-menu, where Governor's Newsroom appears.

Subsequently, you will need to make a minor change to a post so the site rebuilds (you can use the sandbox-1 page for this purpose, since it is not a public page).

![image](https://user-images.githubusercontent.com/287977/135685040-b81f1e4f-8d89-4485-8d6c-48fbc0807fd3.png)

ALSO, I noticed

[2021-10-01 21:40] jbum commented on #70
Began work on this, but need some styling help from @kkoryaka

https://github.com/cagov/drought.ca.gov/pull/135

[2021-10-01 22:01] thepegisin opened #136 "Add Water Year 2021 PDF to site"
Got request from Jeannine Jones (via Angie) to add this PDF to drought site: https://water.ca.gov/-/media/DWR-Website/Web-Pages/Water-Basics/Drought/Files/Publications-And-Reports/091521-Water-Year-2021-broch_v2.pdf

- [x] Draft
- [x] Send for review
- [x] Approved or edits requested
- [x] Stage
- [x] Publish

[2021-10-01 22:39] #136 closed

[2021-10-01 23:49] jbum commented on #70
I see Konstantin is out next week.  If this is deemed important, I will muddle through without him (@jaredwyee).

[2021-10-04 16:33] xjensen opened #137 "Stale search results"
Site search on drought.ca.gov is currently pulling in old results, including many unavailable files. Many of these files seems to be coming from test.drought.ca.gov, which is no longer live.

To start, we need to claim the Drought domain in Google Search Console, then remove these old subdomains from results.

[2021-10-04 22:57] chachasikes opened #138 "Design npm script to help with syncing code changes in 11ty site with development instances."
For our headless builds we are introducing some development pipelines to test upcoming features.

A difficulty with this is that we are injecting WordPress data in a couple of places in the repository, and this makes syncing code changes between main and development branches more difficult. This was always a little annoying for covid19, and we are about to introduce alternate development databases

[2021-10-04 22:57] chachasikes commented on #138
@xjensen  Tagging us both on this.

[2021-10-04 23:01] chachasikes commented on #138
Files we need to protect:
* `wordpress-to-github.config.json` - should become `wordpress/config/wordpress-to-github.config.json` for prod & `wordpress/config/wordpress-to-github.{branch|.config.json` for other branch targets. `main` is the canonical source & should be updated & copied into other branches on changes
* `pages/wordpress` -  Synced with WordPress API data `wordpress-to-github` & cause

[2021-10-04 23:03] chachasikes commented on #138
For a script, we can create an npm shortcut in "scripts" or a bash script.

TBD what direction we like & what utilities would be helpful.

These would be good to start:
`main` -> `development`
`development` -> `main`

[2021-10-04 23:16] thepegisin opened #139 "Add this week's PDF to Weekly update"
Add 10/4 PDF to **Weekly update** page and publish.

[2021-10-04 23:27] thepegisin commented on #139
Published 4:30 PM on 10/4/21.

[2021-10-04 23:27] #139 closed

[2021-10-05 00:55] chachasikes opened #140 "Make sure editors are not manually prefixing links for headless rendering for media items"
Peggy shared this " I always change the front of the URL to be https://drought.ca.gov/media/."

We should reconsider that cause it's best if it's stored as a relative url to the site with a valid link & then let us remap the path.

We are talking about not doing this & will need to follow up with Peggy.

[2021-10-05 01:17] chachasikes commented on #98
Good to see this, I'll keep an eye out for other hardcoded problems.

[2021-10-05 16:30] thepegisin commented on #111
10/5 ROUND-UP:

1. _Tribal lands_ is staged and holding per Heather Williams.
2. _Weekly update_ is published and available from nav. Has latest PDF (10/4).
3. _Drought assistance_ v2 with multiple programs added is staged and awaiting feedback/approval.

[2021-10-06 00:51] chachasikes opened #143 "Coordinate update of drought pantheon service"
We have some updates done for cannabis that we can port over to drought, but need to test it & then work with Jon to go over the updates & then plan a production push.

[2021-10-06 00:52] chachasikes commented on #143
cc @xjensen

[2021-10-06 01:06] chachasikes commented on #102
Jon & I are going to start working on this tomorrow @jaredwyee

[2021-10-06 16:16] jaredwyee opened #144 "Drought data page?"
figure out what this is and the purpose

Angie connect Jared to people to explain what data there is and what we'd want to do with it

[2021-10-06 16:38] jaredwyee opened #145 "News/blog post style weekly updates"

[2021-10-06 17:27] jbum commented on #127
Closing as underlying cause is same as #130.  Using #130 for all related symptoms.

[2021-10-06 17:27] #127 closed

[2021-10-07 15:57] thepegisin opened #150 "Change URL on "Learn how to save water" homepage button"
Since the _How you can help_ link came off the nav bar, we need to link that page somewhere else. Request is to change the _Learn how to save water_ link so it goes to https://drought.ca.gov/how-you-can-help/.

This doesn't appear to be under editorial control in WP, but please let me know if it is.

[2021-10-07 20:09] jaredwyee opened #151 "Review user needs sheet and link into ODI project board"
https://docs.google.com/spreadsheets/d/1MqE5kfkmyR1jOTPoGBx2tiT3MH0ByGXJ7bGScaqMLz8/edit#gid=0

[2021-10-11 23:18] xjensen commented on #101
@adam-little I wanted to get your opinion about how we should render the News page on Drought. Since I'm working on this now, it's a good time to implement changes.

Here's the current Drought site.
<img width="857" alt="Screen Shot 2021-10-11 at 16 14 58" src="https://user-images.githubusercontent.com/1208960/136866112-79120d7b-a0c8-4998-91dd-7763fff7da56.png">

Here's what I found in Figma, in D

[2021-10-12 16:27] thepegisin opened #152 "Add this week's PDF to Weekly update"
Add 10/11 PDF to Weekly update page and publish.

[2021-10-12 18:09] jbum commented on #150
Hi @thepegisin -- this is under editorial control, but I edited it (it wasn't obvious to me how to edit it, until I asked Jon) -- you have to select the text and use the link icon.

BEFORE
![image](https://user-images.githubusercontent.com/287977/137007078-4524beeb-aa12-42a0-a323-2ad650e3e0c7.png)

AFTER
![image](https://user-images.githubusercontent.com/287977/137007188-0d2c72f1-5a23-40ba-8cd5-c5

[2021-10-12 20:20] #150 closed, assigned to jbum

[2021-10-13 01:12] britt-allen commented on #125
done! added as a third table to this report: https://datastudio.google.com/reporting/50c97641-777f-4f3b-a1d2-62208f294a62/page/jailB

[2021-10-13 01:12] #125 closed, assigned to britt-allen

[2021-10-13 22:40] thepegisin opened #159 "Update water resilience link in footer"
Update _Water resilience portfolio_ link in footer from https://waterresilience.ca.gov/ to https://resources.ca.gov/Initiatives/Building-Water-Resilience/portfolio

[2021-10-13 23:28] chachasikes opened #161 "Reconnect `chooseTemplate`"
drought, main, index.njk was trying to use data.template

This, unforunately, is a wordpress default value that can't be unset in the REST API without breaking monolith.

Instead, there is `design_system_fields.template` - that's the reliable one from our plugin.
`chooseTemplate` method can go anywhere that makes sense - meta or somewhere.

Looks like in switching over to Posts (and toggling betwe

[2021-10-15 19:38] thepegisin opened #163 "Page feedback box is the wrong color on PROD"

[2021-10-15 20:50] xjensen commented on #163
I went ahead and put in a PR to fix just this issue, by bumping ds-feedback to 1.0.9.

[2021-10-15 22:11] thepegisin opened #165 "Add 10/4 and 10/12 news items to Newsroom/homepage"
Per request from Shawn Brouwer on 10/14, add two news items to _Newsroom_ and update latest news items on homepage.

[2021-10-15 23:44] thepegisin commented on #165
This was a good test of our news item publishing process. **_That process does not work smoothly_**.

**Issues:**
- News item first publishes with the date "Invalid Date." This is displayed on the homepage for about 5-10 minutes and fixes itself, or may have been fixed by subsequent updates - hard to say. In any case, a public error that is not good.
- News item link first publishes as "http://dro

[2021-10-15 23:45] thepegisin commented on #165
Eventually got both news items updated on the homepage and the _Newsroom_ page.

[2021-10-15 23:45] #165 closed

[2021-10-15 23:49] thepegisin opened #166 "News item publishing display errors"
The news item publishing process does not work smoothly.

Issues:

- News item first publishes with the date "Invalid Date." This is displayed on the homepage for about 5-10 minutes and fixes itself, or may have been fixed by subsequent updates - hard to say. In any case, a public error that is not good.
- News item link first publishes as "http://drought.ca.gov" rather than the link on another si

[2021-10-15 23:53] thepegisin opened #167 "Make Staging look like PROD"

[2021-10-16 16:19] chachasikes commented on #167
We can also talk about making the editor upgrade pipeline go from:

main-test-pantheon (separate database) > staging > production - it's a little different because staging has lingering features that may not get posted up to production (main-test-pantheon is meant to be similar to how we did `preproduction` for covid19, but with a different data source so we can test the Editor changes to the data

[2021-10-16 16:49] chachasikes commented on #167
[code]

Working on the staging merge script.
* We will move `wordpress/wordpress-to-github.*.config.json` files to `wordpress/config` folder like we did for cannabis.ca.gov on Monday (requires adjusting pipeline)
* For staging, we should not override the package.json file because it is where Konstantin is working (updating packages) - package.json files will require manual merges.

I think all the

[2021-10-16 16:50] chachasikes commented on #167
I'll make this as a PR for staging & We can review it as a team ON THIS THREAD HERE IN GITHUB 👋🏼  (not Slack!)
I'll refer to the issue in the PR.

[2021-10-16 20:47] chachasikes commented on #167
(Using the staging merge script would be safer if we did this, as it is right now, it's not.)

[2021-10-18 17:29] aaronhans opened #172 "speed up publishing possibility by skipping sub component dev dependencies"
Changing github action workflow from:

[code]

to

[code]

Will make it skip the devDependencies of stuff like design system components that currently contain heavy test dependencies in the dev section.

This will cause a problem if there are any devDependencies at the top site level that are needed for the build though so we probably need to reset how the top level package.json dependencies are w

[2021-10-18 17:29] aaronhans commented on #172
If this works making the same change on all other 11ty repos that use design system components will be a big improvement

[2021-10-18 18:28] chachasikes commented on #172
This sounds good - I was wondering about this when reviewing the 11ty builds this weekend. Wasn't sure which or if any of the main dependencies were required for the build tool to run.

[2021-10-18 22:36] chachasikes opened #177 "Headers missing for news feeds"
Something happened to the content from wordpress that is supposed to render in the column blocks.

https://live-drought-ca-gov.pantheonsite.io/
The h2 tags are present, but not showing up in headless.

[2021-10-19 01:01] chachasikes opened #179 "WordPress Editor UX issue (multiple tabs with same page saves overwrite page with no warning)"
If you have two tabs with the same tab open, and partially filled out one, then switch to the other & save it, then come back to the old one & do not refresh the page… it WILL update the content of the page with whatever is in that tab.

This is a WordPress UX problem.

The browser should detect you have two of the same tab open with different content & give you some sort of a warning.

@TODO: Res

[2021-10-19 01:02] chachasikes commented on #179
This might explain why Peggy experienced an unset date value when updating many pages at once.
Could be confusing.

This fix is a nice-to-have.

[2021-10-19 17:46] thepegisin opened #180 "Add 10/11 news item to homepage and Newsroom"
Email request from Anna Opalka (Shawn Brouwer is out) via @jaredwyee. Will test with this that news items can be staged.

[2021-10-19 17:57] thepegisin commented on #159
It's been at least 30 minutes since I saved this setting, but the menu item still goes to the old link (https://waterresilience.ca.gov/). Need a dev to troubleshoot.

[2021-10-19 18:16] thepegisin commented on #159
Never mind! Change appeared approximately 45 minutes after I saved it in WP.

[2021-10-19 18:16] #159 closed

[2021-10-19 18:18] thepegisin commented on #180
Staged successfully using _staging_ tag on Post!

[2021-10-19 18:30] thepegisin commented on #180
Published on homepage and _Newsroom_ page.

[2021-10-19 18:30] #180 closed, assigned to thepegisin

[2021-10-19 18:38] thepegisin opened #181 "Fix "Read more..." links in news blurbs"
In _Newsroom_ news blurbs, the copy gets automatically cut off if it runs too long and a "Read more..." link is added. However, that link is going to the wrong place.

![Readmore](https://user-images.githubusercontent.com/63249920/137971391-9f664e90-2d17-4fcf-946a-c0a2984d0eb5.png)

It should go to the same URL as the title (a press release page or PDF on another website). Instead, it's going to a

[2021-10-19 18:46] chachasikes commented on #181
Comment left to Peggy in Slack:

Wordpress generates the excerpt. We can try to suppress that default behavior.

A work around might be to copy the body text into excerpt (if you didn’t already).

[2021-10-19 18:47] chachasikes commented on #181
Tagging myself on this in case we want to do some WordPress php alteration.

[2021-10-19 18:48] thepegisin commented on #181
Trying that excerpt workaround.

[2021-10-19 21:42] thepegisin opened #182 "Add 10/19/21 drought emergency expansion"
Drought emergency to be extended statewide at 4PM 10/19/21.

Update these areas:
- Homepage under _State actions_
- Homepage under _News_
- New item in _Newsroom_
- _State response_ under _New actions_ ([draft](https://docs.google.com/document/d/1cp7ujkAzTFpX1_Depm8Fcfrj3ruMItLqt4T39uoRKhg/edit#))

[2021-10-19 21:54] chachasikes opened #183 "Test new Content Admin role"
@thepegisin
I created a new role for "Content Admin". It is currently the same as an "Editor" role, except it lets you edit the menu.

I would like to push this to production tomorrow.

To test this
- [x] Login to the editor test site: https://test-drought-ca-gov.pantheonsite.io/
- [x] See if you can edit the menu.
- [x] Any changes you make will appear on http://main-test-pantheon.drought.ca.gov.

[2021-10-19 21:55] thepegisin commented on #182
Waiting for link to press release and approval for _State response_ text.

[2021-10-19 22:20] thepegisin commented on #182
Approved per Jared - now just need press release link.

[2021-10-19 22:29] thepegisin commented on #111
Staged changes to _Drought assistance_ now published.

[2021-10-19 22:30] thepegisin commented on #106
Jared handling approvals. Targeting to publish by Friday.

[2021-10-19 22:32] thepegisin commented on #111
See #106 for completion of _Tribal_ page changes.

[2021-10-19 22:32] #111 closed

[2021-10-20 01:49] thepegisin commented on #182
Updated in all needed places, but when I pushed to Staging, didn't go. Got some dev help and was able to publish. Now live.

[2021-10-20 01:49] #182 closed

[2021-10-20 16:07] thepegisin opened #184 "Move Resources content to another page"
In order to add _Tribal lands_ to the main nav, we must move another link off. _Resources_ is the best choice, per Angie.

- [ ] Find another place for this content (probably _Drought assistance_ for some and _Current drought conditions_ for others)
- [ ] Draft
- [ ] Stage (when _Tribal lands_ is staged)
- [ ] Publish (when _Tribal lands_ is published)

Note that per @jaredwyee, we could temporari

[2021-10-20 16:13] thepegisin opened #185 "Explore and propose alternate format for weekly PDFs that is more accessible"

[2021-10-21 19:54] carterm opened #190 "WordPress API sorting broken"
Using the WordPress API with the "orderby" parameter should sort.  Customizations to the sorting algorithm appear to have broken it.  This makes publishing impossible until the sorting algorithm is restored because there is no way to get the most recent modified date.

These results should be sorted by modified desc...
https://live-drought-ca-gov.pantheonsite.io/wp-json/wp/v2/posts?per_page=10&ord

[2021-10-21 21:41] #190 closed, assigned to chachasikes

[2021-10-21 22:33] jbum commented on #190
Woot!

[2021-10-22 16:23] #166 closed, assigned to chachasikes, xjensen, thepegisin

[2021-10-27 16:21] chachasikes opened #192 "Handle no-robots"
Drought development instances s3 buckets do NOT have index disallowing robots.txt files:
* How do we want to handle no robots copying from other branches?
* maybe robots.copyme.txt & no-robots.copyme.txt write & get renamed to robots.txt by branch?
* Suggestion: connect robot copying to yml settings

[2021-10-27 17:53] thepegisin opened #193 "Stop WordPress from making alternate versions of PDFs"
Never mind - turns out this is how WordPress makes thumbnails it needs. Carry on!

[2021-10-27 17:55] #193 closed, assigned to nobody

[2021-10-28 18:43] thepegisin opened #195 "Propose refresh of homepage hero text"
Homepage text acknowledging and contextualizing recent rains would boost user confidence in this site's currency. It's also good to refresh homepage text occasionally to keep things from appearing stale.

- [x] Draft propose hero text changes: https://docs.google.com/document/d/1q3TjjKsTuZsEfwWEysyFJWj1y9DGGzZGeZdS8ESP_9M/edit#
- [x] Gain stakeholder approval or edits
- [ ] Stage
- [ ] Publish

[2021-10-28 23:19] thepegisin opened #196 "Add 10/28 news item to homepage/Newsroom"
Add this news item to homepage/_Newsroom_: https://water.ca.gov/News/News-Releases/2021/Oct-21/DWR-Offers-Grants-for-Urban-and-Multibenefit-Drought-Relief

- [x] Add post with _staging_ tag
- [x] Check homepage and _Newsroom_ page in Staging (specifically checking for if I have to eliminate a "Read more" link)
- [x] If all looks well, publish

[2021-10-28 23:30] #196 closed, assigned to thepegisin

[2021-10-28 23:45] #195 closed, assigned to thepegisin

[2021-10-29 20:39] jaredwyee opened #197 "Guide on how to post news item for training stakeholders"
As discussed, draft guide of steps and screenshots of how to post news items on Drought site. Outcome will be to use in training stakeholders and as future reference for them.

[2021-10-29 22:18] thepegisin commented on #101
@jaredwyee - this feels ready to me. You can close this ticket, IMHO.

@chachasikes - yes, and we're tracking that in #197. I will note there to have you check my draft. TY!

[2021-10-29 22:19] thepegisin commented on #197
- [ ] Draft steps with screenshots in Google Docs
- [ ] Have @chachasikes check for accuracy
- [ ] Get approval/edits from @jaredwyee
- [ ] Share with stakeholders when training

[2021-10-29 22:21] thepegisin opened #198 "Changes to Drought assistance page requested 10/29"
Shawn Brouwer conveyed [requested changes](https://docs.google.com/document/d/1ahe0K6D8jHQKJXn9z48KfwuVPRrzgT8j/edit) to _Drought assistance_ page 10/29/21.

- [x] Incorporate into page draft, editing for content design standards and readability
- [x] Get Shawn's approval for draft
- [x] Stage
- [x] Publish

[2021-10-29 22:25] thepegisin opened #199 "Capitalize "Tribes" universally"
On 10/29/21, Shawn Brouwer requested that we capitalize "Tribes" universally on the site.

Normally, this is not correct when using sentence case, as is our standard. But we don't know whether this might be seen as disrespectful to Tribes, and want to err on the side of caution there. So we'll make the change. If we find documentation that this is in fact incorrect and it's not commonplace to capi

[2021-10-29 22:36] jaredwyee commented on #101
Great!

[2021-10-29 22:36] #101 closed

[2021-10-29 23:07] thepegisin commented on #198
Published 10/29/21.

[2021-10-29 23:07] #198 closed

[2021-10-30 00:02] thepegisin commented on #199
Completed 10/29/21 and notified Shawn.

[2021-10-30 00:02] #199 closed

[2021-11-01 23:10] jbum commented on #95
I'm having an issue with fixing this one, possibly caused by lack of understanding how the CSS system works here.  I can see that in _page.scss, there is a block of CSS that needs to be conditionally triggered to swap between wide-page-title and narrow-page-title only when the page is narrow.  At the moment, we ALWAYS see narrow-page-title.

I can see in _pages.scss, that the below section is alwa

[2021-11-02 00:15] xjensen commented on #95
You got it. [This CSS](https://github.com/cagov/design-system/blob/2039f72bea418e8dfdb7940bba6e8127e3408e02/components/base-css/src/_page.scss#L68-L77) is getting pulled from the `ds-base-css` component in the Design System. It's inserted into Drought's Sass pipeline [here](https://github.com/cagov/drought.ca.gov/blob/1a1f2a6c698a2134c44859466ea87f6611731605/src/css/sass/index.scss#L8).

So to tes

[2021-11-02 16:10] thepegisin commented on #152
Added 11/1 PDF to _Weekly update_ and published.

[2021-11-02 16:39] jaredwyee opened #201 "Inventory what's in staging (UI/UX elements) that could maybe go to Prod"
Inventory elements that are sitting in staging that need to be considered whether they can be pushed to prod or not.

[2021-11-02 16:42] jaredwyee commented on #106
GIven we inadvertently had this on prod, please remove draft outright until we know this should be published (or soon to be). This is on hold / ice until further notice. Thanks

[2021-11-02 17:28] thepegisin commented on #106
WP page moved to Trash. Can move back out again when ready to stage/publish.

[2021-11-02 17:48] thepegisin commented on #183
Did all this, but menu items still don't appear. I think this is being handled in another ticket.

[2021-11-02 17:48] #183 closed

[2021-11-02 19:01] thepegisin commented on #72
Updated image alt text per doc. Also updated doc to include new homepage image.

[2021-11-02 19:01] #72 closed

[2021-11-04 16:08] jaredwyee opened #203 "Twitter social feed display method/plugin"
In order to better aggregate and highlight what drought taskforce agencies/departments are communicating via social, we want to include a feed on the drought site. This is to bring together content being put out from the most active "channel" and liven up the drought site so it's not as static.

If we have to start with one handle it would probably be CA DWR's (https://twitter.com/CA_DWR) for now.

[2021-11-04 16:44] jbum commented on #95
@kkoryaka could you take a look at this?  I'm having a hard time figuring out why it's behaving differently than Cannabis, despite similar style and layout.

[2021-11-04 17:23] jaredwyee commented on #203
@xjensen amongst the three main options on https://publish.twitter.com/# the timeline is probably the best balance of show all the activity in an easy "view port".

Twitter mention you can show case lists... so maybe that's the route to group feeds across handles.

[2021-11-04 18:15] xjensen commented on #203
Good call. This timeline feed for your list gives us the same output/embed code as what's used on Cannabis. The approach seems very doable.

I'll test it out in Drought and report back.

[2021-11-04 21:01] xjensen commented on #203
@jaredwyee Here's a first pass.

<img width="1418" alt="Screen Shot 2021-11-04 at 13 52 44" src="https://user-images.githubusercontent.com/1208960/140418353-9f725edc-4c02-429c-8f41-e44f949870e3.png">

Notes.

* This is pretty straight-forward. The timeline/publish stuff on Twitter takes care of the hard work of combining the feeds.
* Styling options are limited. We can't do much to re-style the co

[2021-11-04 21:14] abquirarte commented on #203
Doing a **courtesy FYI** to @adam-little, @wrendo  @chachasikes and @aaronhans.

[2021-11-04 21:51] xjensen commented on #203
@aaronhans Intersection Observer is a great idea here. Depending upon opinions regarding styling, I'm wondering if we should develop this as a new component in the Design System. ds-twitter-feed.

[2021-11-04 22:40] jaredwyee commented on #203
awesome @xjensen thanks for looking into this. I will defer to @adam-little on how much we might want to customize/control the styling. My weighing is I think we can start with what's more out of the box first to move faster to getting stakeholder feedback and potentially putting into prod

[2021-11-04 22:55] jaredwyee commented on #181
@thepegisin I thought when we tested this excerpt _did_ work and truncation with read more did not occur.

[2021-11-05 00:00] zakiya commented on #203
I can say from experience that the Twitter API changes often and they make it pretty difficult to make style changes without some serious hackery. I would also keep an eye on the terms of service. At one point it specifically mentioned government use but I don't see that in the current developer agreement.

[2021-11-05 18:29] aaronhans commented on #203
Good plan to make this a component @xjensen

Will be great to share improvements as they are made

[2021-11-05 18:29] adam-little commented on #203
I'm fine with taking the same approach to Cannabis. My only request is that we add a 1px #E1E0E3 border with a 5px corner radius to the container.

See screenshot from [Figma](https://www.figma.com/file/veQuKQHf8gK5JdFEoMLGRD/Design-system-UI-kit?node-id=3%3A2392) below.

Note that this border does not appear on headless but it's one of the items I flagged in the design QA document. So if you coul

[2021-11-05 19:54] chachasikes commented on #108
Closing. We have other more actionable issues for this now.

[2021-11-05 19:54] #108 closed

[2021-11-08 19:33] jaredwyee commented on #203
@xjensen are we at the point where it is reasonable for me to ask for a Twitter "list" URL from a CA drought taskforce Twitter handle? So that we don't use my personal one :).

Next step would be show a staged version with the real feed/list to get input.

[2021-11-08 20:44] xjensen opened #204 "General updates and clean-up"
To test recent changes to the Design System (in cagov/design-system#190), we came across the need to update Drought to the latest design-system components. Some of this work can be seen in `staging` already; this is an effort to close that loop.

The purpose of this Issue is to...

* Update Drought to use latest versions of Design System components.
* Test out the newest beta versions of those com

[2021-11-08 21:09] xjensen commented on #126
Quick note. Menu work within the wordpress-to-github module has been completed. In short, this set of changes to wordpress-to-github will help trigger site rebuilds whenever a change is made to a menu within Wordpress.

However, deploying this set of changes into live service is on-hold. We're working on putting processes in place around how we deploy wordpress-to-github changes. These processes w

[2021-11-08 21:25] aaronhans commented on #132
See if this is specific to cannabis, review priority assignment with Peggy

[2021-11-09 15:46] thepegisin commented on #106
Restored page to Staging per email from Heather Williams.

[2021-11-09 16:04] thepegisin commented on #152
Jared added 11/8 PDF to _Weekly update_ and published 11/8.

[2021-11-09 16:51] chachasikes commented on #181
This requires (or will be helped by) a WP edit to the default excerpt behavior.

Slating for 1.1.3 release

[2021-11-09 21:42] kkoryaka commented on #95
@adam-little please review in staging: https://staging.drought.ca.gov/state-drought-response/

[2021-11-09 22:28] #98 closed

[2021-11-09 22:28] #204 closed

[2021-11-10 18:33] jaredwyee opened #209 "Mobile view - menu & search button location"
Consider better left alignment. Possible clash with DS pattern due to lack of a logo.

![image](https://user-images.githubusercontent.com/85529382/141172677-c17421e0-b543-4bcb-85a0-f44b7baec925.png)
![image](https://user-images.githubusercontent.com/85529382/141172691-3cea6b29-8a6e-4966-acd0-a8064531e046.png)

[2021-11-10 18:35] adam-little commented on #95
Looks good @kkoryaka thank you

[2021-11-10 18:52] xjensen commented on #203
Adding updates from Slack into this comment, for posterity.

* We have a new [mock homepage](https://staging.drought.ca.gov/sandbox-landing/), in staging, where we can test Twitter feeds.
* Every Twitter thing you see on that mock page is achieved via Wordpress alone, with no additional development.
* The Twitter feed widget already defers its loading via `<script async>`. That seems to be working

[2021-11-10 22:09] aaronhans commented on #203
Nice work @xjensen I'd vote for creating a design system component whenever we can fit it in because this element causes both performance and accessibility violations so is the prime candidate to improve those aspects on all the sites it is used.

Once it is a component we could start making small improvements like loading via intersection observer which would make a big improvement on mobile in t

[2021-11-10 22:33] kkoryaka commented on #95
This is done: https://drought.ca.gov/state-drought-response/

[2021-11-10 22:33] #95 closed

[2021-11-10 23:28] aaronhans commented on #192
Good suggestions on how to handle this programatically

I added notes to https://github.com/cagov/odi-engineering/wiki/Setting-up-a-new-headless-site-instance to add robots file with permissions defaulting to disallow

Thanks for thinking about this in https://github.com/cagov/odi-engineering/issues/53 @xjensen

The cannabis site has robots files disallowing crawling in all branches now because it

[2021-11-12 23:17] thepegisin commented on #197
Draft: https://docs.google.com/document/d/1SXHOx0npr6FwUXG12ubmLff04kVmTPp7WckT8V_wOw8/edit#

[2021-11-12 23:18] thepegisin opened #210 "Add 11/9 news item to homepage/Newsroom"
Per Shawn Bouwer email, add this news item to homepage/Newsroom: https://water.ca.gov/News/News-Releases/2021/Nov-21/DWR-Awards-Another-25-Million-in-Drought-Relief-for-Small-Communities

- [ ] Add post with staging tag
- [ ]  Check homepage and Newsroom page in Staging (specifically checking for if I have to eliminate a "Read more" link)
- [ ] If all looks well, publish

[2021-11-12 23:21] thepegisin commented on #210
Published 11/12 3PM.

[2021-11-12 23:21] #210 closed

[2021-11-16 23:26] xjensen commented on #209
Fix in progress at #212.

[2021-11-16 23:56] #209 closed

[2021-11-17 00:09] jaredwyee commented on #197
Thanks @thepegisin Looks great. Just going to hold for a bit on scheduling the initial training session to make sure we don't throw too much at stakeholders at once.

[2021-11-17 00:17] kkoryaka commented on #100
THis one is done

[2021-11-17 00:21] #100 closed

[2021-11-17 00:29] xjensen commented on #192
This has partly been addressed as part of the per-PR site preview function at #211. See [this robots.txt code](https://github.com/cagov/drought.ca.gov/blob/e60aa0b120f41865afb93779c861b6ffdb4fcd1b/.github/workflows/eleventy_build_pr.yml#L26-L29) in the corresponding GitHub Action.

We could easily add this step to other non-`main` GitHub Actions. I'll do that.

Going forward, we could consider con

[2021-11-17 20:35] kkoryaka commented on #69
@jaredwyee I am working in parallel on theme where editors will be able to add social media in WP options.

[2021-11-17 21:00] chachasikes commented on #69
Context update:
* Jim found a menu that I initially created hoping this could connect to the front end.
* In grooming the WP Themes board, Konstantin shared that he is working on an update to the cagov GeneratePress theme to render this data to the menu
* Then Jon can help with connecting the menu item ("social") - to the menu item &
* Then we can update the content (make sure it's correct)
* And

[2021-11-19 21:16] thepegisin opened #219 "Align PDF icon with the standard (no period)"
While documenting engineering components for our Design System, I noticed that the PDF icon used on Drought differs from the standard one used on COVID-19 and in the Design System.

It's the content team's consensus that this icon should be just the letters PDF contained in a box. There should be no period before the letters.

[2021-11-29 17:27] kkoryaka commented on #219
I will have to update design system component. Will try to update it this week

[2021-11-29 19:12] xjensen commented on #161
This will no longer be needed if we merge #220. That PR uses 11ty's built-in layout features to choose the correct template.

[2021-11-29 20:08] adam-little opened #221 "Remove "external link" icon when "PDF" icon is also present"
Currently, a link to a PDF on an external website will result in two icons [see screenshot].

![image](https://user-images.githubusercontent.com/69167298/143934863-d838bdfb-5456-42e3-afe5-a2aaa018c78e.png)

I recommend that the PDF icon "trumps" the external link icon. Therefore, if there is an external link to a PDF, the link will only display the PDF icon.

Reasons:

- Reduce visual clutter
- If

[2021-11-29 20:09] adam-little commented on #221
Assigning to @jaredwyee for triage

[2021-11-29 21:12] #161 closed

[2021-11-29 21:21] #192 closed

[2021-11-30 17:00] xjensen commented on #221
We may need to combine our pdf-icon and external-link-icon Design System components to achieve this.

@aaronhans @kkoryaka What do you think about having one Design System component to handle all link decorations?

[2021-11-30 17:05] xjensen commented on #219
Quick note. We have a related Issue at #221.

[2021-11-30 17:28] jaredwyee commented on #221
Thanks @xjensen . If it gets unnecessarily complex, this isn't a high priority by any means!

[2021-11-30 19:49] kkoryaka commented on #221
@xjensen we need to switch javaScript order, and it will fix this issue. (We have css in external link component that disables external link if pdf is present, but  pdf JavaScript needs to go after external link because unfortunately there is no CSS Previous sibling selectors.), I will create PR to fix it.
![Screen Shot 2021-11-30 at 11 41 04 AM](https://user-images.githubusercontent.com/31669748/

[2021-11-30 19:52] kkoryaka commented on #221
BTW, in staging it works correctly: https://staging.drought.ca.gov/newsroom/

[2021-11-30 20:09] xjensen commented on #221
@kkoryaka Clever, I like it.

I think it will be challenging to support this kind of instruction when we start inviting outside teams to use the Design System. But It definitely works for us.

[2021-11-30 20:20] #221 closed

[2021-11-30 20:22] kkoryaka commented on #221
@xjensen I agree, I would hate these extra instructions to avoid issues like this. So combining these two components into one would take care of it.

[2021-11-30 21:05] kkoryaka commented on #221
@xjensen created this issue: https://github.com/cagov/design-system/issues/225 in design system to combine those two components into one ds-link-icon

[2021-11-30 22:40] kkoryaka commented on #219
@thepegisin please review in staging: https://staging.drought.ca.gov/

[2021-12-01 00:41] thepegisin opened #228 "Add 11/19 and 11/30 news items to homepage and Newsroom"
Per Shawn Brouwer's email, add two news items to homepage and Newsroom.

- [x] Create posts in WordPress per usual process
- [x] Publish
- [x] Check for errors
- [x] Notify stakeholders

[2021-12-01 00:44] #228 closed

[2021-12-01 00:50] jaredwyee opened #229 "Drought Tracking Data Investigation"
**Major Reservoir Data**
- For [major reservoirs ](https://cdec.water.ca.gov/resapp/RescondMain) showcase the current capacity, relative to average capacity and total capacity
- Thus we need, list of reservoirs (they have a code eg CLE, SHA), current capacity, average capacity, total capacity. This data should be available daily
- https://cdec.water.ca.gov/dynamicapp/wsSensorData
- https://cdec.wa

[2021-12-01 16:30] xjensen commented on #229
Re: Groundwater levels, it looks like the following _might_ be what we need. But it's listed as still under development.

https://data.cnra.ca.gov/dataset/calgw_live/resource/960d0135-eae0-451a-8d9b-f0d4eef9c6c7

[2021-12-01 19:40] #219 closed

[2021-12-02 17:34] xjensen commented on #229
I've been working on a way to clip California out of the Drought Map using GIS data. Not totally finished yet, but feeling good about being able to do this.

<img width="569" alt="Screen Shot 2021-12-01 at 16 04 48" src="https://user-images.githubusercontent.com/1208960/144473633-586a5fff-f371-46d9-b558-41633c671ccd.png">

[2021-12-02 18:19] jaredwyee commented on #229
@xjensen cool! I like the cleaner display of the state without county lines (potentially noise). Would we be able to adapt the US map fetch process for CA specifically?

The Drought monitor site has the images readily available for each update the same way as far as I know.
https://droughtmonitor.unl.edu/data/png/20211130/20211130_ca_none.png
https://droughtmonitor.unl.edu/CurrentMap/StateDroughtM

[2021-12-02 18:39] jaredwyee commented on #229
I'll repeat, cooool! Great to know. Let's listen to what stakeholders think. In our back pocket, we'll know we have the more sophisticated avenues should we want to keep building on top of the map notion.

[2021-12-02 18:45] thepegisin opened #230 "Add 12/1 news item to homepage and Newsroom"
Per Shawn Brouwer's email, add news item to homepage and Newsroom.

- [x] Create post in WordPress per usual process
- [x] Publish
- [x] Check for errors
- [x] Notify stakeholders

[2021-12-02 18:47] #230 closed

[2021-12-02 21:50] jaredwyee opened #231 "Image comparison slider - explore feasibility"
Update:

Refer to design in latest mock: https://www.figma.com/file/VdQOfgIJpYD90onzb7PJSZ/Drought.ca.gov-screens?node-id=361%3A14792

Cropped images are in Figma here: https://www.figma.com/file/VdQOfgIJpYD90onzb7PJSZ/Drought.ca.gov-screens?node-id=347%3A7467

Source images are here:

Oroville 2016: https://pixel-ca-dwr.photoshelter.com/galleries/C0000jk3Mpvy07_U/G0000aHWl0wNQpUk/I0000GajzUSfb1ek

[2021-12-02 22:08] jaredwyee commented on #231
@adam-little  FYI, memorializing possible sets of images I noted in Slack

[2021-12-06 17:06] xjensen commented on #231
Here's some prototype work on image sliders. Not production-ready, of course, but I think this shows it's doable.

https://image-comparison-slider.pr.drought.ca.gov/pr/image-comparison-slider/sandbox-1/

[2021-12-06 17:43] jaredwyee commented on #231
👍🏼 looks great. Thanks for protyping feasibility.

[2021-12-06 22:58] kkoryaka opened #235 "Replace pdf-icon and external-link-icon components with new link-icon component"

[2021-12-06 23:24] #235 closed

[2021-12-07 01:22] thepegisin opened #237 "Add 12/6 news item to homepage and Newsroom"

[2021-12-07 01:22] #237 closed

[2021-12-07 17:17] thepegisin commented on #152
Catch-up:

- Added 11/15 PDF
- Jared added 11/22 PDF
- No PDF for 11/29
- Added 12/6 PDF

[2021-12-07 17:17] #152 closed

[2021-12-08 17:47] thepegisin opened #238 "Edits to Current drought conditions page"
Jared suggested text to update the _2021 overview_ section of the **Current drought conditions** page.

- [x] Work his suggested text into the whole: [draft](https://docs.google.com/document/d/1uCwMp7zslvoyDtiJ7mdNK2M_B2bjM0spqim0FyaoziM/edit#heading=h.o04u1kmcg712)
- [x] Notify @jaredwyee so he can get stakeholder buy-in/edits
- [ ] Get approval or edits
- [ ] Stage
- [ ] Publish

[2021-12-10 17:23] thepegisin opened #239 "Update Current conditions body text"
Jared suggested some text to add to _Current conditions_ that updates it for the water year's end. After readability edits, the text Shawn Brouwer approved is:

- [x] Draft
- [x] Get approvals
- [x] Stage
- [x] Check
- [x] Publish

[2021-12-10 17:49] jaredwyee opened #240 "GTM to tag CTA we will want to measure for success metrics"

[2021-12-10 17:50] #239 closed

[2021-12-14 17:33] jaredwyee commented on #197
Guide is done. Doing initial training session today.

[2021-12-14 17:53] jaredwyee commented on #231
@adam-little give spec-ed slider design to Jon when you can with cropped example images. We may get new images from stakeholders as well.

[2021-12-14 17:59] jaredwyee commented on #229
Per Jon, makes more sense to know what the intended visual is for major reservoir levels before building out. Pulling down the data is fairly simple line a code so not a real benefit to chunk apart the work.

[2021-12-14 23:54] thepegisin commented on #152
Added 12/13 PDF.

[2021-12-15 17:38] jaredwyee opened #241 "Test data studio report email report for stakeholders"

[2021-12-15 17:40] jaredwyee commented on #241
Seems to be working ok past few weeks. Received monday: Peggy, myself, Shawn (DWR), Anna (DWR), Kalin (EPA)

[2021-12-15 17:40] #241 closed

[2021-12-15 17:45] jaredwyee opened #242 "Invite stakeholders to Pantheon for Drought site"
Want to give stakeholders access to do news post updates on the Drought site. Peggy did a training session.

Now we're trying to get the invites to: Shawn, Anna, Kalin.

However, doesnt seems like setup/password reset emails are being received. Maybe CA email is not allowing Sendgrid. Worked OK for Jared's ODI email (gmail).

[2021-12-15 17:48] jaredwyee commented on #242
@chachasikes let me know if this is issue is redundant if you already have one tracking. Thanks.

[2021-12-15 19:57] adam-little commented on #231
@xjensen Here are some images you can experiment with:
![Oroville Combined](https://user-images.githubusercontent.com/69167298/146256046-08a2de9c-bfea-4ac4-bd31-dc303d86ddcc.png)
![Oroville 2016](https://user-images.githubusercontent.com/69167298/146256048-74114930-def9-440f-b44b-ef7e8f51b718.png)
![Oroville 2021](https://user-images.githubusercontent.com/69167298/146256049-a42d211d-6c74-42a4-ba26

[2021-12-15 23:22] jaredwyee commented on #231
@xjensen @adam-little are you both cool with me sending the visuals to stakeholders to keep them in the loop of our progress?

[2021-12-16 00:32] jaredwyee commented on #242
Have IT issue stakeholders receiving email invite
https://github.com/cagov/Help-Desk/issues/324

[2021-12-16 16:52] adam-little commented on #231
I don't see any problem with that

On Wed, Dec 15, 2021 at 6:22 PM Jared Yee ***@***.***> wrote:

[2021-12-16 17:30] jaredwyee opened #243 "CA Drought Map - Homepage visual"
**Context:**
We want to boost the visual appeal of the drought homepage and show meaningful visualizations of current drought conditions.

From user testing of both prototype concepts and the current drought site, we found the Drought Monitor map to be a compelling and easy to understand visual of state wide drought conditions, with color coded shading. Additionally, seeing the entire state (or th

[2021-12-20 19:25] jaredwyee opened #244 "Update Map Released Text & Link"
- To indicate that the map updates periodically, update the text "Released [date]. Updates automatically each Thursday."
- Our text says click to see CA map, so we should have the link go to CA directly: https://droughtmonitor.unl.edu/CurrentMap/StateDroughtMonitor.aspx?CA

[2021-12-20 21:16] jaredwyee commented on #231
@adam-little  @xjensen a clarification the dates are actually

- May 11, 2016 (Full looking Lake Oroville)
- July 26, 2021 (empty looking Lake Oroville)

[2021-12-20 22:09] jaredwyee commented on #184
DWR going to do a once over on the "More resources" section of Resources page as the list is quite lengthy. Also we pointed out the CalOES link for water assistance should possibly be removed as it isn't a helpful link

[2021-12-20 22:10] jaredwyee commented on #197
While we have some rockiness with receiving emails for invites and OTP, stakeholder was able to setup 2fa via authenticator app and has first new posted up successfully.

[2021-12-21 00:18] thepegisin commented on #197
Made into slides and shared with trainees. https://docs.google.com/presentation/d/1_v2Yi2O07bu2ay_8tzaL1TS1R0VDR6fW8lIQ-DWTd1Y/edit#slide=id.gd01156d741_1_3

[2021-12-21 00:18] #197 closed

[2021-12-21 20:09] thepegisin opened #245 "Make a training document for how to add a PDF to Weekly update"
Document the steps to add a weekly update PDF for new content creators.

- [x] Make a steps document with screenshots
- [x] Convert it to PDF for later reference
- [x] Train Kalin Kipling on steps
- [x] Send her the PDF

[2021-12-21 20:11] thepegisin commented on #245
Draft document: https://docs.google.com/document/d/1GqFP-owCQgHLg1TGudtGEKTdQm96D6xydtOGCwtc97c/edit

[2021-12-23 22:15] thepegisin opened #246 "Page titles are not displaying"
Page titles are not visible in Drought. For every page but the homepage, they should be visible as an H1 at the top of each page.

The titles are present in each WordPress page, but are somehow being skipped when the page renders. Need an engineer to fix this.

See attached comparisons of Cannabis and COVID sites for reference:

![cannabis-pagetitle](https://user-images.githubusercontent.com/63249

[2021-12-30 17:30] jaredwyee commented on #244
@xjensen this should be workable whenever you can pick up. thanks

[2022-01-03 19:03] jaredwyee opened #248 "Update footer (c) date for 2022 (not dynamic?)"
The current footer still says 2021
![image](https://user-images.githubusercontent.com/85529382/147969256-970055ae-5ade-4217-994e-6e602b13b456.png)

[2022-01-04 19:11] jaredwyee commented on #76
@thepegisin in light of the user testing, I think these two pages should be unified. Then it can serve as the drought site's tips/how to conserve page while we keep evaluating where the best content exists (maybe pointing to SaveOurWater as a secondary action on our water saving tips page).

[2022-01-11 19:02] thepegisin opened #249 "Merge How you can help content into Water saving tips page"
It's become clear that the _How you can help_ page is redundant, and should be merged into the _Water saving tips_ page, which can then be added to navigation.

- [x] Draft merged page: https://docs.google.com/document/d/1F7qPNFSi_2BeAXSRhAYWxKt_-1vjqDmHU0Wy5AzKWUw/edit#
- [ ] Get approval through @jaredwyee
- [ ] Stage
- [ ] Check
- [ ] Publish
- [ ] Add _Water saving tips_ to navigation

[2022-01-11 19:37] thepegisin commented on #76
Tasks:

- [ ] Draft merged page: https://docs.google.com/document/d/1F7qPNFSi_2BeAXSRhAYWxKt_-1vjqDmHU0Wy5AzKWUw/edit#
- [ ] Get approval through @jaredwyee Stage
- [ ]  Check
- [ ] Publish
- [ ] Add Water saving tips to navigation

[2022-01-11 19:38] thepegisin commented on #249
Closing as this is outlined in issue #76

[2022-01-11 19:38] #249 closed

[2022-01-11 23:13] jaredwyee opened #250 "Certain PDF links 404. On prod the URL points to drought.ca.gov when the link should go elsewhere."
On https://drought.ca.gov/state-drought-response/ I noticed some of the PDF links incorrectly point to URLs with drought.ca.gov/media as the path. These links are suppose to point elsewhere. The result is 404.

**WRONG LINK:** https://drought.ca.gov/media/2021/07/7.8.21-Conservation-EO-N-10-21.pdf
**CORRECT LINK:** https://www.gov.ca.gov/wp-content/uploads/2021/07/7.8.21-Conservation-EO-N-10-21.pd

[2022-01-11 23:26] thepegisin commented on #245
Trained Kalin and had her publish the 1/10/22 update. All went well.

[2022-01-11 23:26] #245 closed

[2022-01-12 00:38] xjensen commented on #250
Looks like those three links are the main extent of the damage.

The problem also appears on two rendered post pages. I'd be surprised if these pages receive any traffic.

https://drought.ca.gov/emergency-proclamation/
https://drought.ca.gov/reduce-water-use/

[2022-01-12 00:53] #250 closed

[2022-01-13 17:54] jaredwyee opened #253 "Current conditions: Rearrange drought map to be top of page. Then 2021 overview following"
From our user testing the map is the most meaningful element of the current conditions page. People gravitate to it. And from the home the CTA says "see the drought map".

Worth nothing 2021 water year is done so the overview is a historical lens whereas the map is latest conditions.

[2022-01-13 22:33] #253 closed

[2022-01-13 23:42] thepegisin commented on #76
Was not able to add to navigation. Will comment on existing ticket for this: #126

[2022-01-13 23:42] #76 closed

[2022-01-13 23:44] thepegisin commented on #126
Revisiting this. I need to add a new link to the top nav: _Water-saving tips_. Made the change in WP menu, but it's not live. How do we make it live? @xjensen

[2022-01-14 00:13] thepegisin commented on #126
Per Jon: "Just takes a few minutes. The menu updates are not pushed out to the site immediately; they need to be pulled when the wordpress-to-github polling service runs every few minutes."

[2022-01-14 00:13] #126 closed

[2022-01-20 21:52] kkoryaka opened #255 "Apply design system accessibility updates to the drought site"
Make sure that these design system issues fixes are applied in the drought website:
https://github.com/cagov/design-system/issues/334
https://github.com/cagov/design-system/issues/335
https://github.com/cagov/design-system/issues/329
https://github.com/cagov/design-system/issues/309

[2022-01-20 22:30] #255 closed

[2022-01-25 22:53] xjensen commented on #201
I think we can safely close at this point.

[2022-01-25 23:00] #201 closed

[2022-01-26 00:15] #244 closed

[2022-01-27 00:39] thepegisin opened #258 "Add 1/4/22 action to homepage and State response page"
Kalin Kipling at CalEPA asked that we add link to [Water Conservation Emergency Regulations](https://www.waterboards.ca.gov/water_issues/programs/conservation_portal/regs/emergency_regulation.html) to the drought site.

- [x] Determine placement
- [x] Draft copy for [homepage](https://docs.google.com/document/d/1W7nzwq0NRWdodHZb8VKILJnKZzXEzxu-iankLKVfuy0/edit#) and [_State response_ page](https:/

[2022-01-27 00:48] thepegisin commented on #258
In the course of doing this, I took care of some housekeeping items.

- [ ] Logged all action posts into a [draft document](https://docs.google.com/document/d/1W7nzwq0NRWdodHZb8VKILJnKZzXEzxu-iankLKVfuy0/edit#)
- [ ] Noted that post titles differed from titles they were given on _State response_, and updated posts to align
- [ ] Noted that post titles don't appear on homepage, and asked if they co

[2022-01-27 01:35] thepegisin opened #259 "Make action post titles appear on homepage"

[2022-01-27 22:10] thepegisin commented on #258
Published 1/27/22 at 2PM.

[2022-01-27 22:10] #258 closed

[2022-01-28 17:52] thepegisin opened #260 "Text add to Drought assistance page"
Shawn Brouwer requested we add a link to a Tableau data visualization for small community drought project funding for 2021.

- [x] Refine text and placement with Shawn
- [x] Draft: https://docs.google.com/document/d/1BMqqW7OoCQRvxk4RX0COy7TzeG4lSVkeBrgB4_AH66M/edit
- [x] Stage
- [x] Check
- [x] Publish
- [x] Check

[2022-01-28 20:10] #260 closed

[2022-02-03 17:59] thepegisin opened #262 "Make training guides for all content maintenance tasks"

[2022-02-03 18:08] thepegisin commented on #262
Functions to cover:
- Revisions and reverting changes
- Updating an image
- Adding a new image
- Editing, staging, and publishing a page (as opposed to a post)
- Updating a menu
- More?

[2022-02-03 18:20] thepegisin opened #263 "Update hero text and photo"
Per request by Erin Curtis, update hero text and photo to be about snowpack levels and their effect on current drought conditions.
- [x] Draft text and get it approved
- [x] Optimize image
- [x] Swap out image, getting buy-in on 1 of 3 candidates
- [x] Get alt text for image and add it
- [x] Stage
- [x] Review
- [x] Publish
- [x] Check

[2022-02-03 18:24] thepegisin commented on #263
Text:
**February snow survey shows California snowpack dropping**

**Though December storms increased our snowpack, a dry January erased those gains.** Experts say that it would take 140% of the state’s normal yearly rain and snow to recover from drought. Find out more in our weekly California Drought Update.

[2022-02-03 22:26] thepegisin opened #264 "Make text and padding on Production and Staging be identical"
I noticed when staging a hero text change on the homepage that there is a difference between how the text looks on Staging (smaller) and how it looks on Production (bigger). The font size seems the same, but on Production, it takes up more space.

This is a concern because we need Staging to give us the real look we should expect before we publish.

Examples:
STAGING
![staging](https://user-images

[2022-02-03 22:39] thepegisin commented on #264
BTW, yes, in these examples this is too much text in the hero space - but I included them because they illustrate the problem well.

[2022-02-04 20:22] thepegisin commented on #263
Approved by Erin Curtis. Published 2/4/22 at 12:15PM.

[2022-02-04 20:22] #263 closed

[2022-02-05 01:22] jaredwyee commented on #243
Wont do

[2022-02-05 01:22] #243 closed

[2022-02-10 18:52] #246 closed

[2022-02-10 19:53] xjensen commented on #203
@jaredwyee Is there still any desire to use a Twitter feed on Drought's homepage? I'm wondering if we should close this issue.

[2022-02-11 17:19] jaredwyee commented on #262
Note to self, I think footer link edits requires a developer.

[2022-02-11 19:04] jaredwyee opened #267 "Update footer link with 'CA water watch'"
I don't believe I can do this easily as an editor in WP. I didn't see the Appearance>Customize menu Aaron suggested.

**Requirements:**
- Remove 'My dry water supply' link in footer
- Replace with 'CA water watch' which points to https://cww.water.ca.gov/

[2022-02-11 19:54] jaredwyee commented on #203
Thanks @xjensen I can close and resurrect if needed.

[2022-02-11 19:54] #203 closed

[2022-02-15 22:34] jaredwyee opened #268 "Major Reservoir Data Visual"
![image](https://user-images.githubusercontent.com/85529382/156047442-512f0e82-5940-4bdb-a46b-8da3a72fcffa.png)

**User/job story**:
When I am interested in learning about our water storage situation,
I want to obtain high-level and simple information about our reservoirs,
so I can be [concerned/relieved] about our human-made water storage.

**Background**: One of the data elements we want to show

[2022-02-16 23:14] jaredwyee commented on #229
@xjensen i added the links for snowpack in the initial comment of the issue. As we've discussing 1) reservoirs and 2) snowpack should be the focus for understanding feasibility of data flow to drive chart/data on site.

We are still pending access to data and better understanding for precipitation and temperature.

[2022-02-18 21:35] jaredwyee commented on #268
Let's review next week

[2022-02-22 23:15] xjensen commented on #268
@jaredwyee My one concern here is about how to handle the various on-hover interactions on mobile, since hovers can be clunky on phones. Do we still need to display that more detailed info on touchscreens, and if so, would the design look different?

[2022-02-22 23:36] jaredwyee commented on #268
@adam-little @kmbrlygl thoughts on how to handle for mobile?

Big picture, I do not think the hover-over details are critical information. They are useful "supporting" pieces of data that underscore the validity of the chart (through the precision of using real numbers and allowing someone to vet our math).

But if you had no clue about acre-feet capacity of our reservoirs, it would be totally arb

[2022-02-23 17:35] jaredwyee commented on #268
Looking at covid charts with data notes for reference, the "hover" data note on the chart reveals if you tap on a part of a line. Given this drought data viz is not a line and is a basic bar, I think it's sufficient to show the data note upon tap and then revert to default state when you tap in negative space to the data note.

Assuming responsive resizing occurs there might not be any special han

[2022-02-28 19:39] jaredwyee commented on #268
From our convo with stakeholders, we will simply state the % of average vs relative comparison of above/below average.

[2022-03-02 23:28] jaredwyee commented on #262
Need guides for adding and removing pages.

Likely require development scope for: (@xjensen fyi, we can discuss and scope after homepage redesign)
* Nav link updating
* Footer updating

[2022-03-04 22:44] thepegisin opened #269 "Draft plain language text for 2.0 version of homepage"
Working from Figma draft, write plain language text for 2.0 version of homepage. To be incorporated into mock-ups and reviewed by GO week of 3/7.

- [x] Draft text: https://docs.google.com/document/d/1EYGF56KTv4BF9TD-28G6zotuwe5PDNqUlh3Lj_A1DTg/edit#
- [x] Measure readability and ensure it's under Grade 6 with no HTR or VHTR sentences
- [x] Send to ODI drought team
- [x] Get feedback and edit as n

[2022-03-08 00:57] xjensen commented on #268
Currently working through this on branch `268-prototype-reservoir-levels`. I've followed the latest mocks in Figma. Always open to changing it as needed.

<img width="571" alt="Screen Shot 2022-03-07 at 16 56 27" src="https://user-images.githubusercontent.com/1208960/157144418-1200c2f2-b0b2-4e3d-8db6-bf7d1ef7234c.png">

[2022-03-08 17:15] jaredwyee commented on #268
Looking good!

[2022-03-16 17:25] thepegisin opened #271 "Updated hero text"

[2022-03-16 17:34] thepegisin opened #272 "Update Save Our Water logo"
Shawn Brouwer sent us an updated logo for Save Our Water.

- [x] Whoa, weird code - consult @jbum
- [x] Replace SOW logo that's in _Water-saving tips_ page, adding alt text and setting size to Medium
- [x] Stage
- [x] Check - issues!
- [x] Another fix by @jbum
- [x] Publish
- [x] Check
- [x] Send logo to Kimberly/Adam for inclusion in Figmas and future mockups

![SOW logo_Stacked 4C](https://user-

[2022-03-16 20:41] thepegisin commented on #271
Published 1:30PM on 3/16/22.

[2022-03-17 22:07] xjensen opened #273 "Snowpack data visualization"
We need a data visualization to display statewide snowpack levels.

<img width="292" alt="Screen Shot 2022-03-17 at 15 06 46" src="https://user-images.githubusercontent.com/1208960/158902393-e7ecf168-e0f1-464b-b3a1-1533c718862b.png">

**UPDATED BY JARED**

**User/job story:**
When I am interested in learning about our natural water storage situation,
I want to obtain high-level and simple informat

[2022-03-17 22:10] xjensen commented on #273
@jaredwyee We created this placeholder issue for snowpack, to help support ongoing development and record decisions. Upon your return, feel free to edit the description or take this wherever you like.

[2022-03-17 22:28] thepegisin commented on #272
Published 3:15PM on 3/17/22.

[2022-03-17 22:28] #272 closed

[2022-03-17 22:29] #269 closed

[2022-03-21 21:53] jaredwyee commented on #267
@xjensen  Bump. can you update this foot link?

[2022-03-23 16:42] xjensen commented on #267
@jaredwyee Apologies for missing this. It's done.

This change is possible via Wordpress; it's somewhat hard to find within the Appearance => Menus interface (in the "Content Menu"). I went ahead and made the change this time to ensure it's working. Happy to provide further guidance, just let me know.

[2022-03-29 01:46] thepegisin opened #275 "Update 3/28 state action on homepage with readability edit"

[2022-03-29 19:26] thepegisin commented on #275
Published 10AM 3/29/22.

[2022-03-30 18:18] thepegisin opened #276 "Requested text changes to Drought assistance page"
Kalin Kipling requested text changes to _Drought assistance_ via email.

- [x] Update draft: https://docs.google.com/document/d/1BMqqW7OoCQRvxk4RX0COy7TzeG4lSVkeBrgB4_AH66M/edit
- [x] Stage
- [x] Check
- [x] Publish
- [x] Check

[2022-03-30 19:36] thepegisin commented on #276
Updated 3/30/22 at 12:30PM.

[2022-03-30 19:36] #276 closed

[2022-04-04 21:27] jaredwyee commented on #231
Essentially vetted for feasibility. However, not incorporating into the homepage redesign so moving to DONE for now (long over due)

[2022-04-04 21:27] #231 closed

[2022-04-04 22:56] jaredwyee opened #277 "Add incremental snowpack & reservoir charts before full HP redesign launch"

[2022-04-06 17:01] thepegisin commented on #184
Did not end up doing this and it's no longer mentioned, so closing this ticket.

[2022-04-06 17:01] #184 closed

[2022-04-06 17:11] thepegisin commented on #106
This request's only sponsor (Heather Williams) has left, and no one else has taken it up. So I'm removing the page from the Staging site, and closing this ticket. If we need to restore it, we can - either from WP's Trash, or make it again from our draft: https://docs.google.com/document/d/1EwxnpdnbYX9j-5OIUQUPZAd7SJRpqZfflIK9fluu-9Y/edit

[2022-04-06 17:11] #106 closed

[2022-04-08 22:04] thepegisin opened #278 "Make small edit to hero text"
Lisa Lien-Mager requested a small edit to the current homepage hero text.

- [x] Draft change: https://docs.google.com/document/d/1q3TjjKsTuZsEfwWEysyFJWj1y9DGGzZGeZdS8ESP_9M/edit#
- [x] Check readability
- [x] Send around to stakeholders for feedback
- [x] Stage
- [x] Check
- [x] Publish
- [x] Check

[2022-04-09 00:36] thepegisin commented on #278
Published at 5:30 PM on 4/8/22.

[2022-04-09 00:36] #278 closed

[2022-04-11 19:18] jaredwyee commented on #277
Wont due

[2022-04-13 21:04] jaredwyee opened #279 "Map - SPEI 12 mo."
![image](https://user-images.githubusercontent.com/85529382/163275331-b47bc3a2-9e75-4323-9395-1fe0539584c6.png)

**Context:**
To visually represent CA's potential states of drought, the US Drought Monitor map is imperfect and not the preferred representation by CA water managers, as it tends to bias towards an agricultural lens.

The Standardized Precipitation Evapotranspiration Index (SPEI) is pr

[2022-04-13 22:08] jaredwyee commented on #279
@xjensen  @kmbrlygl we'll discuss in drought standup tomorrow.

[2022-05-05 19:28] #267 closed

[2022-05-05 19:29] #268 closed

[2022-05-05 19:29] #273 closed

[2022-05-05 19:29] #279 closed

[2022-05-05 19:29] #229 closed

[2022-05-06 17:02] thepegisin opened #287 "Change Newsroom menu item to News"
User on Twitter reports that menu is cut off when viewing on an iPad Mini. Probably needs to be addressed in the Design System, which @xjensen will do. In the meantime, we'll save some pixels by changing the Newsroom menu item to News.

[2022-05-06 17:04] thepegisin commented on #287
Updated menu at 9AM on 5/6/22.

[2022-05-06 17:04] #287 closed

[2022-05-10 18:52] #140 closed

[2022-05-10 19:23] chachasikes commented on #105
@xjensen was this ever done? If so - you can close it.

[2022-05-10 19:33] #179 closed

[2022-05-10 20:40] xjensen commented on #264
I fixed this as part of the recent redesign work. Closing. Can reopen if needed.

[2022-05-10 20:40] #264 closed

[2022-05-10 20:42] #248 closed

[2022-05-12 16:22] thepegisin opened #289 "Update Resources page with incentive/rebate advice"
Add advice that incentives or rebates might be available to you from your local water agency. Put that above water agency lookups. Add Cal Water Watch as a way to find your local agency.

- [x] Draft changes to _Resources_ page: https://docs.google.com/document/d/11diFz0IWrvqAVDy-Frfls6Pc8LasQmrDElYBF4725vQ/edit
- [x] Get approval
- [x] Stage
- [x] Check
- [x] Publish
- [x] Check

[2022-05-12 16:34] #289 closed

[2022-05-23 23:33] thepegisin opened #291 "New homepage hero text and image (May 2022)"
Kalin and Erin requested that we update the homepage hero text and image.

- [x] Draft text (readability edits rejected by GO): https://docs.google.com/document/d/1EYGF56KTv4BF9TD-28G6zotuwe5PDNqUlh3Lj_A1DTg/edit#
- [x] Optimize image for web
- [x] Get approval to publish
- [x] Stage
- [x] Check
- [x] Image is wrong size, creating whitespace. Getting new image from Shawn Brouwer.
- [x] Edit and re

[2022-05-26 23:59] #291 closed

[2022-06-06 21:35] #242 closed

[2022-06-06 21:41] xjensen commented on #238
@thepegisin Okay to close this?

[2022-06-06 21:57] #69 closed

[2022-06-06 21:57] #70 closed

[2022-06-06 21:58] #104 closed

[2022-06-06 21:58] #105 closed

[2022-06-06 21:58] #144 closed

[2022-06-06 21:59] #145 closed

[2022-06-06 21:59] #151 closed

[2022-06-06 21:59] #240 closed

[2022-06-06 22:00] xjensen commented on #185
@thepegisin Would it be okay to close this issue? Trying to clean up the older issues in Drought.

[2022-06-06 22:03] #132 closed

[2022-07-13 17:24] #181 closed, assigned to chachasikes, thepegisin

[2022-07-13 17:24] #238 closed

[2022-08-03 21:16] zakiya opened #306 "WordPress Sync Error"
Reported vis Slackbot
<img width="728" alt="CleanShot 2022-08-03 at 14 15 24@2x" src="https://user-images.githubusercontent.com/915352/182713444-9cc85301-a0d4-4e43-8a97-1e2677db35d6.png">

Error: 422 error making request patch https://api.github.com/repos/cagov/drought.ca.gov/git/refs/heads/staging: "Unprocessable

[2022-08-04 15:19] carterm commented on #306
Looks like a concurrency issue when updating the commit head because a more recent change was committed while an older one was still processing.  There were a lot of updates to the same file that happened around 11:22am.  The failure was overwritten pretty quickly with a subsequent update.  The version of `wordpress-to-github` used here uses the `github-api` which doesn't report the errors in thes

[2022-08-04 15:55] xjensen commented on #306
Thanks, @carterm! Much appreciated.

I'm going to accept that peace of mind and close this issue.

[2022-08-04 15:55] #306 closed

[2022-08-04 16:00] zakiya commented on #306
QQ: My memory is fuzzy about all the wp to gh work that was done last fall. I remember one of the tasks was to replace github-api with our own version. Do we have documentation about which sites are using which plugin?

[2022-08-04 16:30] carterm commented on #306
There is a beta release that has interface changes and would require dev/test to implement.
https://www.npmjs.com/package/@cagov/wordpress-to-github/v/0.3.0